@import 'foundation/foundation';
@import 'foundation/normalize';
@import 'reset';
@import 'font-awesome/scss/font-awesome';
@import 'vars';
 
body {
  color: $c_text_default;
  font-family: $f_EBGaramond;
  font-size: 16px;
  background: url( '#{$img_path}/base/body-wallpaper-bg.png' ) 0 3px repeat-x #FFF;

  @include respond_to( small_mode ) {
    background: none;
  }
  @include respond_to( medium_mode ) {
    background-position-y: 200px;
    //background: none;
  }
}

h1, h2 {
  @include antialias;
  @include h2;
}
h3 { @include h3; }
h4 { @include h4; }
h5 { @include h5; }

p {
  line-height: 1.3;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  @include ease;
}
a, a:visited {
  color: $c_text_default;
}
a:hover {
  //opacity: 0.8;
  color: #94a9b5;
}
a.button {
  //@include button;
}

.show-for-small hr {
  border: none;
  background-color: $c_small_hr;
  height: 1px;
  width: 100%;
}

.relative {
  position: relative;
}

.page-template .row {
  background-color: #FFF;
}

//--------
// Header
//--------
#header {
  padding-top: 33px;
  height: 242px;
  padding-bottom: 32px;
  background: url( '#{$img_path}/base/header-bottom-stitched-bg.png' ) bottom no-repeat;
  
  > .row {
    background: #FFF;
  }

  @include respond_to( large_mode ){ // #header
    padding-top: 33px;

    .logo {
      margin-top: -22px;
    }
  }
  @include respond_to( small_mode ) { // #header
    padding-top: 16px;
    height: 270px;

    .columns.small-purchase {
      text-align: center;
      padding: 10px 0;
    }
    .logo {
      margin-top: 30px;
    }


  }

  section.top.row {

    .social-icons.columns {
      text-align: left;

      a { 
        color: #3d69a4; 
        margin-left: 11px;
        font-size: 18px;
      }    

      @include respond_to( large_mode ){
        line-height: 32px;
        margin-top: 22px;
      }
    }// .social-icons
    .mobile-icons {
      text-align: right;
    }


    .logo.columns {
      //text-align: center;
      h2 {
        font-size: 0;
      }
      
    }
    .searchbar.columns {
      text-align: right;

      form {
        margin-top: 22px;
      }
    }

    @include respond_to( large_mode ) {
      padding-top: 24px;
    }
  }


  .logo a{
    display: block;
    width: 184px;
    height: 83px;
    background: url( '#{$img_path}/base/header-logo2.png' ) no-repeat 0 -39px;
    margin: 0 auto;
    margin-top: 13px;


    h2 {
      //background: url( '#{$img_path}/base/header-logo.png' ) no-repeat scroll 0 10px transparent;
      color: $c_text_default;
      font-family: $f_MrDeHaviland;
      font-size: 0px;
      //line-height: 43px;
      //padding-left: 55px;
      text-align: center;
      font-style: normal;
      font-weight: normal;

      @include respond_to( small_mode ) {
        min-height: 76px;
        padding-top: 16px;
        font-size: 35px; 
        //new
        background: none;
        padding-left: 0;   
      }
      @include respond_to( medium_mode ) {
        padding-left: 0;
        line-height: 2;
      }
    }
  }

  nav.main-menu  {
    //@include respond-to( large_mode ){ display: none; }

    margin-top: 8px;
    //-----------
    // 1st level
    //-----------
    > ul{
      text-align: center;
      margin-left: -25px;

      > li {
        &:first-child { margin-left: 0; }
        display: inline-block;
        font-size: 18px;
        line-height: 70px;
        position: relative;
        margin-left: 5.3%;

        @include respond_to( small_mode ) {
          font-size: 1em;
          line-height: 52px;
          margin-left: 5%;      
        }

        > a, a:visited {
          color: $c_text_default;
          height: 45px;

          &:hover, &.active { color: $c_text2; }  
        }

        &.purchase {
          a {
            margin-bottom: -19px;
          }
        }
 
        //--------------
        // Dropdown
        //--------------
        &:hover, &.test { // li
          ul {
            display: block; 

            .drop-arrow {
              background: url( '#{$img_path}/misc/header-nav-submenu-drop-arrow.png' ) no-repeat bottom; 
              position: absolute;
              width: 20px;
              height: 21px;
              z-index: 110;
              top: -21px;
              left: 44%;
            }
          }
          

        }
        &.nosub {
          background: none !important;
        }


        > ul {
          display: none;
          position: absolute;
          background-color: #eaf0fc;
          padding: 10px;
          min-width: 185px;
          //margin-left: -140%;
          z-index: 100;
          @include ease;
          border: 1px solid #CCC;

          li {
            text-align: center;
            padding: 13px 0;
            margin: 0;
            line-height: 1;

            > a, a:visited {
              color: $c_text_default;
              line-height: 15px;

              &:hover, &.active { color: $c_text2; }  
            }
              
          }
        }
        &.purchase {
          // position: absolute;
          // left: 351px;
          // top: 16px;
        }

      }// li
    }  
  }// nav#main-nav

}// #header

section.page-template {

  @include respond_to( medium_mode ) {
    //padding: 0 16px;
    border-left: 16px solid #e7decf;
    border-right: 16px solid #e7decf;
  }

  section.page-content {
    min-height: 500px;
    //padding-top: 20px;

    > .row {
      background-color: #FFF;
    }
  }

  section.page-heading {
    position: relative;
    padding-top: 10px;

    > .columns.b {
      text-align: right;
    }

    @include respond_to( large_mode ) {
      //padding-bottom: 20px; 
    }
    

    h1 {
      @include respond_to( large_mode ) {
        margin-top: 0px;
        margin-bottom: 0;
      }      
    }
    .breadcrumb {
      margin-bottom: 15px;
    }
    .searchbar {
      margin-top: 14px;
    }




  }// section.page-heading

}


//--------------
// Page Heading
//--------------
.page-heading, .heading2 {
  .breadcrumb {
    color: #666;

    a {
      color: #3d69a4;
      opacity: 0.7;
    }
    span {
      margin: 0 5px;
      color: #CCC;
    }
  }
}

//--------
// Footer
//--------
footer#footer {
  height: 114px;
  background: url( '#{$img_path}/base/footer-bg-wallpaper.png' ) repeat-x;
  padding-top: 24px;
  overflow: hidden;
  margin-top: 30px;

  .row {
    background: url( '#{$img_path}/base/footer-logo.png' ) no-repeat center 29px;
  }

  @include respond_to( small_mode ) {
    background: url( '#{$img_path}/base/footer-bg-mobile.png' ) repeat-x;
    height: 149px;
    text-align: center;

    .row {
      background: none;
    }
  }

  p, a {
    line-height: 93px;
    color: #FFF;
  }
  p.copyright {
    font-size: 14px;

    @include respond_to( small_mode ) {
      line-height: 22px;
      margin-top: 20px;
      text-align: center;
    }
  }

  .social-buttons {
    text-align: right;
    @include social_icons;

    @include respond_to( small_mode ) {
      text-align: center;
    }
  }

}// #footer




//---------------
// Category Page
//---------------
body.category, body.subcategory {

  .page-heading {
    background-color: #FFF;

    @include respond_to( small_mode ) {
      background-color: transparent;
    }

    h1 {
      @include respond_to( small_mode ) {
        font-size: 1.8em;
      }
      @include respond_to( medium_mode ) {
        text-align: center;
      }

      span {
        color: #b6856e;
      }
    }


    .columns.b {
      text-align: right;
      @include respond_to( small_mode ) {
        text-align: center;
        margin-bottom: 20px;
      }

      a.view-all {

        @include antialias;
        //font-weight: bold;
        display: inline-block;
        margin-top: 22px;

        @include respond_to( small_mode ) {
          margin-top: 0;
        }
      }
    }

  }// .page-heading

  .row.heading2 {
    .columns {
      &.a {
        
      }
      &.b {
        padding-top: 9px;

        label {
          color: #888;
          font-size: 15px;
          margin-right: 5px;          
        }
        select {
          display: inline-block;
          width: 150px; 
          font-size: 13px;

          &.filter-2 {
            float: right;
            margin-right: 6px;
            margin-top: 10px;            
          }         
        }
      }
      &.c {
        padding-top: 9px;
      }
    }
  }

  section.featured-items {
    position: relative;

    /*
    .pagination {
      position: absolute;
      left: 50%;
      top: -28px;
      margin-left: -30px;

      a {
        display: inline-block;
        background: url( '#{$img_path}/misc/category-featured-items-pagination-dots.png' ) no-repeat;
        width: 13px;
        height: 13px;
        background-position: -20px 0;
        margin-left: 7px;
        &:first-child { margin-left: 0; }

        &.active {
          background-position: 0 0;
        }
        @include ease;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    */

    .set {
      display: none;
      &.active {
        display: block;
      }
    }

    .item {
      margin-bottom: 10px;

      @include respond_to( small_mode ) {
        text-align: center;
        margin-bottom: 15px;
      }

      a {
        padding-top: 10px;
        display: inline-block;
      }

      .info {
        padding: 10px;
        @include ease;

        > * {
          text-align: center;
        }
      }

      &:hover { // .item

        a {
          background-color: #f2f7f9;
        }
        .info { background-color: #f2f7f9; }
      }

      h4 {
        font-size: 22px;
      }
      h5 {
        //color: #3d69a4;
        font-style: italic;
      }
    }// .item
  }// section.featured-items

  section.all-items {

    h2 {
      text-align: left;
      margin-bottom: 20px;

      @include respond_to( small_mode ) {
        text-align: center;
      }
    }
  
  }

  .results .pagination{
    text-align: center;
    font-size: 19px;
    margin-top: 40px;
    margin-left: -42px;

    .prev, .next {
      font-weight: bold;
      color: #3d69a4;
    }
    .enumerated {
      display: inline-block;
      margin: 0 80px;
      font-size: 21px;

      a {
        margin: 0 5px;
      }
      span.selected {
        border-bottom: 1px solid #000;
      }
    }
  }

}

body.index {

  @include respond_to( large_mode ) {
    .columns.text {
      .decrease-width {
        width: 90%;
        margin: 0 auto;
        padding-left: 11px;
      }
      
    } 
  }

  .homepage-banner {
    padding-top: 30px;
    padding-bottom: 50px;
    

    h2 {
      color:#3d69a4;
      font-size: 46px;
    }
    h4, p {
      color: #333;
    }
    h4 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 20px;
    }

    .columns.pic {
      img {
        margin: 0 auto;
        display: block;
      }
    }
    ul {
      margin-bottom: 43px;
      margin-top: 30px;
    }
  }// .homepage-banner

  .panels {
    
    section.panel {
      padding: 0;

      > .row {
        border: 1px solid #dbdbdb;
        width: auto;
        padding: 20px;
        height: 224px;
        width: 459px;
        background: url( '#{$img_path}/misc/framed-panel-bg.png' );

        > section.a {
          //width: 37%;

          img {
            width: 190px;
            margin-top: 10px;
          }
        }
        > section.b {
          //width: 58%;
          //margin-left: 21px;

          h2 {
            font-size: 32px;
          }
        }
      }

      @include respond_to( large_mod ) { // section.panel
        &.a img {
          margin-left: 21px;
        }
      }

      @include respond_to( small_mode ){ // section.panel
        margin-bottom: 20px;

        > .row {
          background: none;
          border-width: 13px;
          moz-border-image: url( '#{$img_path}/misc/panel-border-image.png' ) 25% stretch stretch;
          -webkit-border-image: url( '#{$img_path}/misc/panel-border-image.png' ) 25% stretch stretch;
          border-image: url( '#{$img_path}/misc/panel-border-image.png' ) 25% stretch stretch;
          width: 106%;
          height: auto;

          h2 {
            font-size: 28px;
            text-align: left;
          }
          h4 {
            font-size: 22px;
          }
          p {
            margin-bottom: 20px;
          }
        }

        &.a img{ // section.panel
          margin: 0 auto;
          display: block;
          margin-top: 20px;
        }
      }


    }

    .newsletter {
      input[type="email"] {
        box-shadow: none;
        border: 1px solid #CCC;
        color: #aaa;
        padding: 3px;
        text-indent: 5px;
        margin-left: 6px;
        margin-top: 6px;

        @include respond_to( small_mode ) {
          margin-left: 0;
          margin-top: 20px;
        }

      }
      .blue-button {
        display: inline-block;
        letter-spacing: 1px;
        margin-top: 24px;
        margin-left: 5px;

        @include respond_to( small_mode ) {
          margin-left: 0;
          margin-top: 17px;
        }
      }
    }
  }

  @include respond_to( small_mode ) { // body.index
    .homepage-banner {
      padding-top: 0px;

      h2 {
        font-size: 41px;
      }
      h4 {
        font-size: 23px;
      }
    }
  }
  @include respond_to( large_mode ) { // body.index
    .homepage-banner {

      h2 {
        //font-size: 41px;
      }
    }
  }


}


//-------------------
// Deal Detail Popup
//-------------------
.detail-popup {
  width: 848px;
  background-color: #FFF;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  .overview {
    .b {
      float: right;
    }
  }

  .close {
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: url( '#{$img_path}/base/close.gif' );
    width: 13px;
    height: 13px;
  }

  .columns.b.info {
    h2 {

    }
    .breadcrumb {
      margin-bottom: 20px;

      a {
        color: $c_link;
      }
    }
    h4 {
      margin-top: 30px;
    }

    p {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  .contact {

    padding-top: 15px;
    border-top: 1px solid #CCC;
    margin-top: 15px;

    p.directions {
      margin-top: 10px;
      a {
        color: $c_link;
        font-style: italic;
        text-decoration: underline;
      }
    }

    .google-map-view img{
      border: 1px solid #CCC;
      padding: 0;
      margin: 0 auto;
    }
  }
}

body.cart {
  .psuedo-table {
    li.head {
      margin-bottom: 0px;
      padding-bottom: 0px !important;
      border-top: 1px solid #EEE;
    }
    li:nth-child(even) {
      background-color: transparent !important;
    }
    input[type="number"] {
      display: inline-block;
      max-width: 100%;
      text-align: center;
    }
  }

  .total {
    padding-top: 86px;
    text-align: right;
    
    h3 {
      text-align: right;
    }

    .price {
      font-weight: normal;
    }

    .blue-button {
      float: right;
      margin-top: 94px;
      //margin-right: 4px;
    }
  }

  .card-pics {

    img {
      width: 290px;
    }
  }
}

//-----------------
// Activation Page
//-----------------
body.activate {
  .blurb {
    padding-top: 40px;
  }
  form {
    margin-top: 26px;
  }
  .activation-form {
    a.button {
      margin-top: 20px;
    }    
  }
}

//---------------
// About Us Page
//---------------
body.about-us {
  .tagline {
    padding-bottom: 30px;
    padding-top: 40px;
  }
  h5 {
    font-style: italic;
  }
  .about-us-pic {
    .pic {
      float: right;
      position: relative;
      z-index: 100;
      margin-top: 10px;
    }
    .award {
      position: absolute;
      z-index: 101;
      top: -7px;
      left: 40px;
    }

  }
}
//-----------------------
// Contact Page Template
//-----------------------
body.contact {
    .blurb {
      padding-top: 40px;
      padding-bottom: 26px;
    }
}

//-------------------
// FAQ Page Template
//-------------------
body.faq {

  .page-heading {
    padding-bottom: 40px;
  }
  
  section.faq {

    ul li {

      section.question h3{
        text-indent: 36px;
        background: url( '#{$img_path}/misc/faq-arrow-right.png' ) no-repeat 6px 12px;
        border-bottom: 1px solid #cdd5db;
        padding: 5px 0;
        @include ease;
      }
      section.answer {
        display: none;
      }

      &.active {// li
        section.question h3{
          background-image: url( '#{$img_path}/misc/faq-arrow-down.png' );
          margin-bottom: 19px;
        } 
        section.answer {
          display: block;
          margin-bottom: 19px;
        }
      }

      a:hover h3{
        opacity: 0.8;

      }

    }// ul li

  }// section.faq



}// body.faq


//----------
// Colorbox
//----------
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/

#cboxOverlay{background:#000; opacity: 0.7 !important;}
#colorbox{outline:0;}
    #cboxContent{margin-top:32px; overflow:visible; background:#000;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{background:#000; padding:1px;}
        #cboxLoadingGraphic{background:url( '#{$img_path}/plugins/cbox_loading.gif') no-repeat center center;}
        #cboxLoadingOverlay{background:#000;}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url( '#{$img_path}/plugins/cbox_controls.png') no-repeat 0 0;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious:hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext:hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0; display: none !important;}
        #cboxClose:hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}



/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
//   -moz-box-shadow: 0 0 5px #ccc;
//   -webkit-box-shadow: 0 0 5px #ccc;
//   box-shadow: 0 0 5px #ccc;
//   border: solid #fff 5px;
//   left: -5px;
//   background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url( '#{$img_path}/plugins/bx_loader.gif' ) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
/*
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}
*/
    .bx-pager {
      position: absolute;
      left: 50%;
      top: -28px;
      margin-left: -30px;

      div {
        display: inline-block;
        margin-left: 7px;
      }

      a {
        display: inline-block;
        background: url( '#{$img_path}/misc/category-featured-items-pagination-dots.png' ) no-repeat;
        width: 13px;
        height: 13px;
        background-position: -20px 0;
        &:first-child { margin-left: 0; }
        font-size: 0;

        &.active {
          background-position: 0 0;
        }
        //@include ease;
        &:hover {
          opacity: 0.5;
        }

        transition-property: none;
        -moz-transition-property: none;
        -webkit-transition-property: none;
        -o-transition-property: none;

      }
    }

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
  left: 10px;
  background: url( '#{$img_path}/plugins/bx_controls.gif' ) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url( '#{$img_path}/plugins/bx_controls.gif' ) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url( '#{$img_path}/plugins/bx_controls.gif' ) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url( '#{$img_path}/plugins/bx_controls.gif' ) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

@mixin blue_button {

  /*
  span {
    display: block;
    float: left;
    height: 58px;

    &.l {
      width: 14px;
      background: url( '#{$img_path}/base/button-left.png' ) no-repeat;
    }
    &.m {
      background: url( '#{$img_path}/base/button-middle.png' ) repeat-x 0 16px;
      margin-top: -16px;
      color: #FFF !important;
      text-indent: 4px;
      padding: 0 18px;
    }
    &.r {
      width: 14px;
      background: url( '#{$img_path}/base/button-right.png' ) no-repeat;
    }
  }
  */
  // a
  display: inline-block;
  height: 41px;

  span {
    display: block;
    float: left;
    height: 41px;

    &.l {
      width: 14px;
      background: url( '#{$img_path}/base/button-left.png' ) no-repeat;
    }
    &.m {
      background: url( '#{$img_path}/base/button-middle.png' ) repeat-x 0 0px;
      color: #FFF !important;
      text-indent: 4px;
      padding: 0 18px;
      padding-top: 9px;
      @include antialias;
      letter-spacing: 1px;
      line-height: 20px;
      font-weight: bold;
    }
    &.r {
      width: 14px;
      background: url( '#{$img_path}/base/button-right.png' ) no-repeat;
    }
  }
}
#wrap .blue-button {
  @include blue_button;

  /*
  @include respond_to( small_mode ) {
    display: block;
    margin: 0 auto;
  }
  */
}
.center-content-for-small {
  @include respond_to( small_mode ) {
    text-align: center;
  }
}