@import 'fonts';

//-------
// Paths
//-------
$img_path: "../../img";

//--------
// Colors
//--------
$c_text_default: #4F4E4F;
$c_text2: #94A9B5; // rgb(148, 169, 181)
$c_text3: #AF866E; //   rgb(175, 134, 110)

//$c_link: #3d69a4;
$c_link: #319add;

$c_bg1: #f9f5ec; // light tan
$c_bg2: #543f40; // dark greyish brown
$c_bg3: #9cc3d3; // blue

$c_blue2: #246ba5;

$c_small_hr: #d9e5f0;

//-------
// Fonts
//-------
$f_EBGaramond: 'EB Garamond', serif;
$f_Georgia: Georgia, serif;
$f_MrDeHaviland: 'Mr De Haviland', cursive;
$f_FontAwesome: 'FontAwesome';

@mixin link_color {
  color: #3d69a4;
  opacity: 0.7;
}

@mixin ease {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@mixin antialias {
  -webkit-font-smoothing: antialiased;
}
@mixin element_drop_shadow {
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 3px 0px;
}
@mixin text_drop_shadow {
  text-shadow: 0px 5px 6px rgba(150, 150, 150, 0.16);
}

//----------
// Headings
//----------
@mixin h2 {
  font-style: italic;
  font-variant: normal;
  font-weight: bold;  
  color: $c_text2;
  line-height: 1.4em;
  font-weight: bold;
  font-variant: normal;
  font-family: Georgia, serif;
  font-size: 2em;
  color: #3d69a4;

  &.large {
    font-size: 44px;
  }

  @include respond_to( large_mode ) {
    font-size: 2em;
  }
  @include respond_to( small_mode ) {
    text-align: center;
    font-size: 1.8em;
  }
}
@mixin h3 {
  font: italic normal normal 20px/1.4em $f_Georgia;
  font-weight: 700;
  color: #666;
}
@mixin h4 {
  font: normal normal normal 24px/1.4em $f_EBGaramond;
  color: $c_text_default;
  margin-bottom: 4px;
}
@mixin h5 {
  font: normal normal normal 18px/1.4em $f_Georgia;
  color: $c_text_default;
}

@mixin awesome_icon {
  font-family: $f_FontAwesome;
  -webkit-font-smoothing: antialiased;  
  &:hover { opacity: 0.7; }
  font-size: 20px;
  color: $c_blue2;
  @include ease;    
}
.awesome-icon {
  @include awesome_icon;
  a, a:visited {
    @include awesome_icon;
  }
}

@mixin social_icons {

  a {
    @include awesome_icon;
    margin-left: 6px;
    &:first-child { margin-left: 0 !important; }
    color: #FFF;
  }

}
.social-icons {
  @include social_icons;
}


@mixin stitched_hl {
  // HTML looks like:
  //  <div class="stitched-hl">
  //    <div class="left-inset"></div>
  //    <div class="right-inset"></div>
  //  </div>
  height: 43px;
  background: url( '#{$img_path}/base/default-heading-dashed-border.png') repeat-x center #FFF;
  position: relative;

  .left-inset, .right-inset {
    position: absolute;
    width: 17px;
    height: 32px;
    top: 6px;
  }
  .left-inset {
    left: 0;
    background-image: url( '#{$img_path}/base/default-heading-left-inset2.png' );
  }
  .right-inset {
    right: 0;
    background-image: url( '#{$img_path}/base/default-heading-right-inset2.png' );
  }
}
.stitched-hl {
  @include stitched_hl;
}

@mixin section_divider {
  height: 43px;
  background: url("../../img/base/default-heading-dashed-border.png") repeat-x center white;
  position: relative;
}
.section-divider {
  @include section_divider;
}

@mixin button( $color ) {
  display: inline-block;
  letter-spacing: 1px;

  > * {
    height: 42px;
    color: #FFF !important;
    display: inline-block;
    float: left;

  }
  .l {
    width: 11px;
    height: 42px;
    background: url( '#{$img_path}/base/#{$color}-button_left.png' ) -6px 0 no-repeat;

  }
  .m {
    background: url( '#{$img_path}/base/#{$color}-button_middle.png' ) repeat-x;
    line-height: 41px;
    padding: 0 20px 0 20px;
  }
  .r {
    width: 5px;
    height: 42px;
    background: url( '#{$img_path}/base/#{$color}-button_right.png' ) -6px 0 no-repeat;
  }
}

.button.blue {
  @include button( blue );
}
.button.tan {
  @include button( tan );
}
@mixin blue_button {
  background: #3d69a4;
  padding: 6px 35px 8px;
  border-radius: 7px;
  color: #FFF;
}
.blue_button {
  @include blue_button;
}
div.blue-button-wrapper {
  text-align: center;
}

form.searchbar {
  $radius: 5px;
  $height: 32px;
  height: $height;
  position: relative;
  background: url( '#{$img_path}/base/searchbar2.png' );
  display: inline-block;
  margin-bottom: 6px;
  margin-left: 20px;
  width: 206px;
  height: 36px;
  //border-radius: $radius;
  //border: 1px solid #CCC;


::-webkit-input-placeholder { color:#DDD; }
::-moz-placeholder { color:#DDD; } /* firefox 19+ */
:-ms-input-placeholder { color:#DDD; } /* ie */
input:-moz-placeholder { color:#DDD; }


  input[type="search"] {
    width: 161px;
    box-shadow: none;
    margin-top: 0px;
    text-indent: 13px;
    font-weight: lighter;
    font-style: italic;
    left: 0;
    top: 0;
    position: absolute;
    padding: 0;
    border: 0;
    background: transparent;
    padding-top: 5px;
    color: #333 !important;
    font-size: 15px;
    padding-top: 8px;
  }

  input[type="submit"] {
    font-family: $f_FontAwesome;
    -webkit-font-smoothing: antialiased;
    //background: #3d69a4;;
    border: none;
    right: 0;
    position: absolute;
    //border-radius: 0 $radius $radius 0;
    //height: 30px;
    height: 36px;
    color: #FFF;
    width: 40px;
    //margin-top: -1px;
    //margin-right: -1px;
    background: transparent;
    @include antialias;

    &:hover { opacity: 0.8; }
  }
}

#wrap {
  
  .psuedo-table {
    ul {
      margin-top: 20px;


      li {
        font-size: 18px;
        margin-left: 0;
        padding-left: 0;
        text-align: left;
        padding: 13px 0;
      }
      li.head {
        font-size: 19px;
        color: #3d69a4;
        font-weight: bold;
      }
      li:last-child {
        float: none;
      }
      li:nth-child( even ) {
        background-color: #ebf0fb;
      }
    }
  }

}

form.default {
  width: 100%;

  input, textarea {
    background-color: #ebf0fb;
    display: block;
    width: 100%;
    border: 1px solid #c9d0fb;
    padding: 4px;
    margin-bottom: 5px;
  }
}

ul.default {
  @include respond_to( small_mode ) {
    margin-left: 20px;    
  }

  li {
    margin-bottom: 5px;
  }

  li:before {
    content:'\2022'; // round bullet
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -20px;
    top: -3px;
    color: #246aa5;
    font-size: 25px;
  }
}

hr.stitched {
  background: url( '#{$img_path}/misc/stitched-hr.png' ) repeat-x;
  height: 1px;
  border: none;
  margin: 5px 0;
}
