<section class="row page-heading">

  <div class="large-8 small-12  medium-12 columns a">
    <h1>About Us</h1>
    <div class="breadcrumb">
      <a href="/">Home</a>
      <span>&gt;</span>
      About us
    </div><!-- .breadcrumb -->
  </div>

  <div class="large-4 small-12 columns b">
    <form class="searchbar">
      <input type="search" placeholder="Search Services">
      <input type="submit" value="&#xf002;">
    </form>   
  </div>

</section><!-- .page-heading -->

<section class="row tagline">
  <h4>Here is our tagline. Sed ut perspiciatis unde omnis.</h4>
</section>

<section class="row paragraphs">

  <div class="columns large-4">
    <h5>Our Philosophy</h5>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
    </p>
  </div>

  <div class="columns large-4">
    <h5>Our Passion</h5>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
    </p>
  </div>

  <div class="columns large-4">
    <h5>Our Vision</h5>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
    </p>
  </div>

</section>

<section class="promo row" style="margin-top: 30px;">
  <div class="columns large-5">
    <h2 class="large">Some Headline</h2>
    <h4>Neque porro quisquam</h4>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
    </p>
  </div>

  <div class="columns large-7 relative">
    <!-- <img src="<?php echo IMG_URL; ?>/misc/travel-award2.jpg"> -->
    <div class="about-us-pic">
      <img class="pic" src="<?php echo IMG_URL; ?>/temp/about-us-placeholder.png">
      <img class="award" src="<?php echo IMG_URL; ?>/misc/travel-award-tiny.png">
    </div>  
  </div>
</section>



