<section class="row page-heading">

  <div class="large-8 small-12  medium-12 columns a">
    <h1>Activate Card</h1>
    <div class="breadcrumb">
      <a href="/">Home</a>
      <span>&gt;</span>
      Activate Card
    </div><!-- .breadcrumb -->
  </div>

</section><!-- .page-heading -->

<section class="row blurb">
  <div class="columns large-7">
    <h3>Enable Your Benefits</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
</section>

<section class="activation-form row">
  <div class="columns large-7">
    <form class="default">
      <input type="text" name="first-name" placeholder="First Name">
      <input type="text" name="last-name" placeholder="Last Name">
      <input type="text" name="gender" placeholder="Gender">
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="address" placeholder="Street Address">
      <input type="text" name="city" placeholder="City">
      <input type="text" name="state" placeholder="State">
      <input type="text" name="zipcode" placeholder="Zip Code">
      <input type="text" name="phone" placeholder="Phone Number">
      <input type="text" name="promo-code" placeholder="Promo Code">
    </form>

    <a class="button blue"><div class="l"></div><div class="m">Activate</div><div class="r"></div></a>

  </div>
</section>


