<section class="row page-heading">

  <div class="large-8 small-12  medium-12 columns a">
    <h1>Purchase</h1>
    <div class="breadcrumb">
      <a href="/">Home</a>
      <span>&gt;</span>
      Purchase
    </div><!-- .breadcrumb -->
  </div>

</section><!-- .page-heading -->

<div class="row cart psuedo-table">

  <ul>
    <!--===
    Head
    ====-->
    <li class="head row">

      <div class="name columns large-9">
        Item
      </div>
      <div class="columns large-2">
        Price
      </div>
      <div class="columns large-1">
        Qty
      </div>

    </li>
    <!--==
    Item
    ===--> 
    <li class="row">
      <div class="name columns large-9">
        2013 Charleston Palmetto Card
      </div>
      <div class="columns large-2">
        $29.99
      </div>
      <div class="columns large-1">
        <input type="number" value="1">
      </div>
    </li>
  </ul>

</div><!-- .cart -->

<div class="row total">
  <div class="card-pics columns large-9">
    <img src="<?php echo IMG_URL; ?>/misc/cart-card-front.png">
    <img src="<?php echo IMG_URL; ?>/misc/cart-card-back.png" style="margin-left: 20px;">
  </div>

  <div class="columns large-3">
    <h3>Total: <span class="price">$29.99</span></h3>

    <a class="blue-button" href="/cart"><span class="l"></span><span class="m">Checkout</span><span class="r"></span></a>
  </div>

</div><!-- .total -->

