<section class="row page-heading">

  <div class="large-8 small-12  medium-12 columns a">
    <h1>Contact Us</h1>
    <div class="breadcrumb">
      <a href="/">Home</a>
      <span>&gt;</span>
      Contact Us
    </div><!-- .breadcrumb -->
  </div>

</section><!-- .page-heading -->

<section class="row blurb">
  <div class="columns large-7">
    <h3>Get in Touch</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
</section>

<section class="row">
  <div class="columns large-7">
    <form class="default">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="subject" placeholder="Subject">
      <textarea rows="10" name="message">Message</textarea>

    </form>

    <a class="button blue"><div class="l"></div><div class="m">Send</div><div class="r"></div></a>

  </div>
</section>
