<!--=========
Page Heading
==========-->
<section class="row page-heading">

  <div class="large-8 small-12  medium-12 columns a">
    <h1>Frequently Asked Questions</h1>

    <div class="breadcrumb">
      <a href="/">Home</a>
      <span>&gt;</span> FAQ
    </div><!-- .breadcrumb -->

  </div>

</section><!-- .page-heading -->

<!--=========
Page Content
==========-->
<section class="page-content">

  <!--=======================
  Frequently Asked Questions
  ========================-->
  <section class="faq">
    <ul>

      <li class="active">
        <section class="row question">
          <div class="columns large-12">
            <a> <h3>De Finibus Bonorum et Malorum?</h3> </a>
          </div>
        </section><!-- .question -->

        <section class="row answer">
          <div class="columns large-12">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
          </div>
        </section><!-- .answer -->
      </li>

      <li>
        <section class="row question">
          <div class="columns large-12">
            <a> <h3>Quis Nostrum Exercitationem?</h3> </a>
          </div>
        </section><!-- .question -->

        <section class="row answer">
          <div class="columns large-12">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </section><!-- .answer -->
      </li>

      <li>
        <section class="row question">
          <div class="columns large-12">
            <a> <h3>De Finibus Bonorum et Malorum?</h3> </a>
          </div>
        </section><!-- .question -->

        <section class="row answer">
          <div class="columns large-12">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
          </div>
        </section><!-- .answer -->
      </li>

      <li>
        <section class="row question">
          <div class="columns large-12">
            <a> <h3>Quis Nostrum Exercitationem?</h3> </a>
          </div>
        </section><!-- .question -->

        <section class="row answer">
          <div class="columns large-12">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </section><!-- .answer -->
      </li>

      <li>
        <section class="row question">
          <div class="columns large-12">
            <a> <h3>De Finibus Bonorum et Malorum?</h3> </a>
          </div>
        </section><!-- .question -->

        <section class="row answer">
          <div class="columns large-12">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
          </div>
        </section><!-- .answer -->
      </li>

      <li>
        <section class="row question">
          <div class="columns large-12">
            <a> <h3>Quis Nostrum Exercitationem?</h3> </a>
          </div>
        </section><!-- .question -->

        <section class="row answer">
          <div class="columns large-12">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </section><!-- .answer -->
      </li>

      <li>
        <section class="row question">
          <div class="columns large-12">
            <a> <h3>De Finibus Bonorum et Malorum?</h3> </a>
          </div>
        </section><!-- .question -->

        <section class="row answer">
          <div class="columns large-12">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
          </div>
        </section><!-- .answer -->
      </li>

      <li>
        <section class="row question">
          <div class="columns large-12">
            <a> <h3>Quis Nostrum Exercitationem?</h3> </a>
          </div>
        </section><!-- .question -->

        <section class="row answer">
          <div class="columns large-12">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </section><!-- .answer -->
      </li>

    </ul>
  </section><!-- .faq -->



</section><!-- .page-content 