<section class="homepage-banner rt row">

    <section class="pic columns small-12 hide-for-medium-up">
      <img src="<?php echo IMG_URL; ?>misc/homepage-main-image.png">
    </section><!-- .pic -->

    <section class="text columns large-5">
      <div class="decrease-width">

        <h2>Save Money</h2>
        <h4>While Enjoying Charleston</h4>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui. 
        </p>
        
        <ul class="default">
          <li>
            <strong>Services</strong> - Automotive, Computer/Office
          </li>
          <li>
             <strong>Dining</strong> - Category 1, Category 2
          </li>
          <li>
             <strong>Entertainment</strong> - Category 1, Category 2
          </li>
          <li>
             <strong>Shopping</strong> - Category 1, Category 2
          </li>
        </ul>

        <p class="center-content-for-small">
          <a class="blue-button" href="/cart"><span class="l"></span><span class="m">Some Tagline</span><span class="r"></span></a>
        </p>
        
      </div><!-- .decrease-width -->
    </section><!-- .text -->

    <section class="pic columns large-7 hide-for-small">
      <img src="<?php echo IMG_URL; ?>misc/homepage-main-image.png">
    </section><!-- .pic -->

    



</section><!-- .homepage-banner -->

<section class="row panels">

  <section class="panel a columns large-6">

    <div class="row">

      <section class="columns large-12">
        <h2>Activate Card</h2>
      </section>

      <section class="b columns large-5">
        
        <h4>Dolor Sit Amet</h4>
        <p>
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </section>

      <section class="a columns large-7">
        <img src="<?php echo IMG_URL ?>/page-templates/index/homepage-card-graphic.png">
      </section>


    </div>

  </section><!-- .panel -->

  <section class="panel b columns large-6">
    <div class="row">

      <section class="columns large-12">
        <h2>Newsletter Signup</h2>

      </section>

      <section class="b columns large-5">
        
        <h4>Dolor Sit Amet</h4>
        <p>
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </section>

      <section class="a columns large-7 newsletter">

        <form>
          <input type="email" value="Email Address">
          <a class="blue-button" href="/cart"><span class="l"></span><span class="m">Sign Up</span><span class="r"></span></a>
        </form>

      </section>
    </div>
  </section><!-- .panel -->

</section><!-- .panels -->




