<section class="popup-src" style="display: none;">
  <div class="close"></div>

  <section class="row overview">
    <div class="columns a large-5 img">
      <img src="<?php echo IMG_URL; ?>/temp/popup-detail-main-img.png">
    </div><!-- .img -->

    <div class="columns b large-6 offset-1 info">
      <h2>Business Title</h2>
      <div class="breadcrumb">
        Listed under: <a href="">Services</a> &gt; <a href="">Automotive</a>
      </div>

      <p class="business-desc">
        This is where the partner puts the description of their business. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      </p>

      <h4>Palmetto Card Benefits</h4>
      <p class="deal-desc">
        This is there the partner puts their deal description. This is there the partner puts their deal description. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div><!-- .info -->
  </section><!-- .row -->

  <section class="row contact">
    <section class="details columns large-6">
      <h4>Contact</h4>
      <p class="address">
        Gerald's Tires
        1635 N Hwy 17 <br>
        Mount Pleasant, SC 29464 <br>
        (843) 971-1547
      </p>
      <p class="directions">
        <a href="">Get Directions</a>
      </p>
    </section><!-- .details.columns -->

    <section class="google-map-view columns large-6">
      <img src="<?php echo IMG_URL; ?>/temp/popup-detail-google-map.jpg">
    </section><!-- .contact-details -->

  </section><!-- .row.contact -->

</section><!-- .popup-src -->