<div class="stitched-hl show-for-small">
  <div class="left-inset"></div>
  <div class="right-inset"></div>
</div>

<section class="row page-heading">

  <div class="large-8 small-12  medium-12 columns a">
    <h1>Featured Automotive Services</h1>
    <div class="breadcrumb">
      <a href="/">Home</a>
      <span>&gt;</span>
      <a href="">Services</a>
      <span>&gt;</span>
      Automotive
    </div><!-- .breadcrumb -->
  </div>

  <div class="large-4 small-12 columns b">
    <form class="searchbar">
      <input type="search" placeholder="Search Automotive">
      <input type="submit" value="&#xf002;">
    </form>   
  </div>

</section><!-- .page-heading -->

<section class="page-content">

  <section class="featured-items row">

    <section class="item large-4 small-12 columns ">
      <a href="/business-detail">
        <img src="<?php echo IMG_URL; ?>/temp/294x184.jpg">
        <section class="info">
          <h4>Business Name 2</h4>
          <h5>10% off service call</h5>
        </section>
      </a>
    </section><!-- .item -->

    <section class="item large-4 small-12 columns ">
      <a href="/business-detail">
        <img src="<?php echo IMG_URL; ?>/temp/294x184.jpg">
        <section class="info">
          <h4>Business Name</h4>
          <h5>10% off service call</h5>
        </section>
      </a>
    </section><!-- .item -->

    <section class="item large-4 small-12 columns ">
      <a href="/business-detail">
        <img src="<?php echo IMG_URL; ?>/temp/294x184.jpg">
        <section class="info">
          <h4>Business Name 2</h4>
          <h5>10% off service call</h5>
        </section>
      </a>
    </section><!-- .item -->

    <section class="item large-4 small-12 columns ">
      <a href="/business-detail">
        <img src="<?php echo IMG_URL; ?>/temp/294x184.jpg">
        <section class="info">
          <h4>Business Name</h4>
          <h5>10% off service call</h5>
        </section>
      </a>
    </section><!-- .item -->

    <section class="item large-4 small-12 columns ">
      <a href="/business-detail">
        <img src="<?php echo IMG_URL; ?>/temp/294x184.jpg">
        <section class="info">
          <h4>Business Name 2</h4>
          <h5>10% off service call</h5>
        </section>
      </a>
    </section><!-- .item -->

    <section class="item large-4 small-12 columns ">
      <a href="/business-detail">
        <img src="<?php echo IMG_URL; ?>/temp/294x184.jpg">
        <section class="info">
          <h4>Business Name</h4>
          <h5>10% off service call</h5>
        </section>
      </a>
    </section><!-- .item -->

  </section><!-- .featured-items -->

  <div class="stitched-hl hide-for-large">
    <div class="left-inset"></div>
    <div class="right-inset"></div>
  </div>

  <div class="row section-divider"></div>

  <div class="row heading2">
    <div class="large-6 columns a">
      <h2>All Automotive Services</h2>
      <div class="breadcrumb">
        <a href="/">Home</a>
        <span>&gt;</span>
        <a href="">Services</a>
        <span>&gt;</span>
        Automotive
      </div><!-- .breadcrumb -->
    </div>

    <div class="large-3 columns b">
      <label>Showing:</label>
      <select class="subcategory" name="town-filter">
        <option value="">All Areas</option>
        <option value="">West Ashley</option>
        <option value="">Mount Pleasant</option>
        <option value="">James Island</option>
        <option value="">Downtown</option>        
      </select>
    </div>

    <div class="large-3 columns c">
      <form class="searchbar">
        <input type="search" placeholder="Search Automotive">
        <input type="submit" value="&#xf002;">
      </form>   
    </div>
  </div><!-- .row -->

  <section class="row all-items psuedo-table">
    <ul>
      <!--===
      Header
      ====-->
      <li class="head row">

        <div class="name columns large-3">
          Business Name
        </div>
        <div class="columns large-3">
          Service Type
        </div>
        <div class="columns large-4">
          Deal
        </div>
        <div class="columns large-2">
          Area
        </div>


      </li>
      <!--==
      Items
      ===--> 
      <li class="row">
        <a href="#">
          <div class="name columns large-3">
            Joe's Plumbing
          </div>
          <div class="columns large-3">
            Home Improvement
          </div>
          <div class="columns large-4">
            20% off service call
          </div>
          <div class="columns large-2">
            West Ashley
          </div>
        </a>
      </li>

      <li class="row">
        <a href="#">
          <div class="name columns large-3">
            Joe's Plumbing
          </div>
          <div class="columns large-3">
            Home Improvement
          </div>
          <div class="columns large-4">
            20% off service call
          </div>
          <div class="columns large-2">
            West Ashley
          </div>
        </a>
      </li>

      <li class="row">
        <a href="#">
          <div class="name columns large-3">
            Joe's Plumbing
          </div>
          <div class="columns large-3">
            Home Improvement
          </div>
          <div class="columns large-4">
            20% off service call
          </div>
          <div class="columns large-2">
            West Ashley
          </div>
        </a>
      </li>

      <li class="row">
        <a href="#">
          <div class="name columns large-3">
            Joe's Plumbing
          </div>
          <div class="columns large-3">
            Home Improvement
          </div>
          <div class="columns large-4">
            20% off service call
          </div>
          <div class="columns large-2">
            West Ashley
          </div>
        </a>
      </li>

      <li class="row">
        <a href="#">
          <div class="name columns large-3">
            Joe's Plumbing
          </div>
          <div class="columns large-3">
            Home Improvement
          </div>
          <div class="columns large-4">
            20% off service call
          </div>
          <div class="columns large-2">
            West Ashley
          </div>
        </a>
      </li>

      <li class="row">
        <a href="#">
          <div class="name columns large-3">
            Joe's Plumbing
          </div>
          <div class="columns large-3">
            Home Improvement
          </div>
          <div class="columns large-4">
            20% off service call
          </div>
          <div class="columns large-2">
            West Ashley
          </div>
        </a>
      </li>

      <li class="row">
        <a href="#">
          <div class="name columns large-3">
            Joe's Plumbing
          </div>
          <div class="columns large-3">
            Home Improvement
          </div>
          <div class="columns large-4">
            20% off service call
          </div>
          <div class="columns large-2">
            West Ashley
          </div>
        </a>
      </li>

      <li class="row">
        <a href="#">
          <div class="name columns large-3">
            Joe's Plumbing
          </div>
          <div class="columns large-3">
            Home Improvement
          </div>
          <div class="columns large-4">
            20% off service call
          </div>
          <div class="columns large-2">
            West Ashley
          </div>
        </a>
      </li>

      <li class="row">
        <a href="#">
          <div class="name columns large-3">
            Joe's Plumbing
          </div>
          <div class="columns large-3">
            Home Improvement
          </div>
          <div class="columns large-4">
            20% off service call
          </div>
          <div class="columns large-2">
            West Ashley
          </div>
        </a>
      </li>

      <li class="row">
        <a href="#">
          <div class="name columns large-3">
            Joe's Plumbing
          </div>
          <div class="columns large-3">
            Home Improvement
          </div>
          <div class="columns large-4">
            20% off service call
          </div>
          <div class="columns large-2">
            West Ashley
          </div>
        </a>
      </li>


    </ul>
  </section>

  <section class="results">
    <!--
    <p class="desc">
      Displaying 1-10 of 201 total matches
    </p>
    -->

    <div class="row">
      <div class="large-12 columns pagination">
        <a class="prev">&lt;&lt; &nbsp;&nbsp;Previous</a>

        <div class="enumerated">
          <a href="">1</a>
          <a href="">2</a>
          <span class="selected">3</span>
          <a href="">4</a>
          <a href="">3</a>
        </div>

        <a class="next">Next&nbsp;&nbsp; &gt;&gt;</a>
      </div>
    </div>
  </section>

</section><!-- .page-content -->