*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default; }

a:hover {
  cursor: pointer; }

a:focus {
  outline: none; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

object,
embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

/* Grid HTML Classes */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 61.25em;
  padding: 0 22px;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse .column,
  .row.collapse .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .row .row {
    width: auto;
    margin-left: -0.5em;
    margin-right: -0.5em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    padding: 0 22px;
    *zoom: 1; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      padding: 0 22px;
      *zoom: 1; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

.column,
.columns {
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 100%;
  float: left; }

@media only screen {
  .column,
  .columns {
    position: relative;
    padding-left: 0.5em;
    padding-right: 0.5em;
    float: left; }

  .small-1 {
    position: relative;
    width: 8.33333%; }

  .small-2 {
    position: relative;
    width: 16.66667%; }

  .small-3 {
    position: relative;
    width: 25%; }

  .small-4 {
    position: relative;
    width: 33.33333%; }

  .small-5 {
    position: relative;
    width: 41.66667%; }

  .small-6 {
    position: relative;
    width: 50%; }

  .small-7 {
    position: relative;
    width: 58.33333%; }

  .small-8 {
    position: relative;
    width: 66.66667%; }

  .small-9 {
    position: relative;
    width: 75%; }

  .small-10 {
    position: relative;
    width: 83.33333%; }

  .small-11 {
    position: relative;
    width: 91.66667%; }

  .small-12 {
    position: relative;
    width: 100%; }

  .small-offset-0 {
    position: relative;
    margin-left: 0%; }

  .small-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .small-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .small-offset-3 {
    position: relative;
    margin-left: 25%; }

  .small-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .small-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .small-offset-6 {
    position: relative;
    margin-left: 50%; }

  .small-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .small-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .small-offset-9 {
    position: relative;
    margin-left: 75%; }

  .small-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; } }
/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 480px) {
  .large-1 {
    position: relative;
    width: 8.33333%; }

  .large-2 {
    position: relative;
    width: 16.66667%; }

  .large-3 {
    position: relative;
    width: 25%; }

  .large-4 {
    position: relative;
    width: 33.33333%; }

  .large-5 {
    position: relative;
    width: 41.66667%; }

  .large-6 {
    position: relative;
    width: 50%; }

  .large-7 {
    position: relative;
    width: 58.33333%; }

  .large-8 {
    position: relative;
    width: 66.66667%; }

  .large-9 {
    position: relative;
    width: 75%; }

  .large-10 {
    position: relative;
    width: 83.33333%; }

  .large-11 {
    position: relative;
    width: 91.66667%; }

  .large-12 {
    position: relative;
    width: 100%; }

  .row .large-offset-0 {
    position: relative;
    margin-left: 0%; }

  .row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .row .large-offset-3 {
    position: relative;
    margin-left: 25%; }

  .row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .row .large-offset-6 {
    position: relative;
    margin-left: 50%; }

  .row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .row .large-offset-9 {
    position: relative;
    margin-left: 75%; }

  .row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  .row .large-offset-11 {
    position: relative;
    margin-left: 91.66667%; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important; } }
/* Foundation Visibility HTML Classes */
.show-for-small,
.show-for-medium-down,
.show-for-large-down {
  display: inherit !important; }

.show-for-medium,
.show-for-medium-up,
.show-for-large,
.show-for-large-up,
.show-for-xlarge {
  display: none !important; }

.hide-for-small,
.hide-for-medium-down,
.hide-for-large-down {
  display: none !important; }

/* Specific visilbity for tables */
table.show-for-small, table.show-for-medium-down, table.show-for-large-down, table.hide-for-medium, table.hide-for-medium-up, table.hide-for-large, table.hide-for-large-up, table.hide-for-xlarge {
  display: table; }

thead.show-for-small, thead.show-for-medium-down, thead.show-for-large-down, thead.hide-for-medium, thead.hide-for-medium-up, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-xlarge {
  display: table-header-group !important; }

tbody.show-for-small, tbody.show-for-medium-down, tbody.show-for-large-down, tbody.hide-for-medium, tbody.hide-for-medium-up, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-xlarge {
  display: table-row-group !important; }

tr.show-for-small, tr.show-for-medium-down, tr.show-for-large-down, tr.hide-for-medium, tr.hide-for-medium-up, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-xlarge {
  display: table-row !important; }

td.show-for-small, td.show-for-medium-down, td.show-for-large-down, td.hide-for-medium, td.hide-for-medium-up, td.hide-for-large, td.hide-for-large-up, td.hide-for-xlarge,
th.show-for-small,
th.show-for-medium-down,
th.show-for-large-down,
th.hide-for-medium,
th.hide-for-medium-up,
th.hide-for-large,
th.hide-for-large-up,
th.hide-for-xlarge {
  display: table-cell !important; }

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 480px) {
  .show-for-medium,
  .show-for-medium-up {
    display: inherit !important; }

  .show-for-small {
    display: none !important; }

  .hide-for-small {
    display: inherit !important; }

  .hide-for-medium,
  .hide-for-medium-up {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-medium, table.show-for-medium-up, table.hide-for-small {
    display: table; }

  thead.show-for-medium, thead.show-for-medium-up, thead.hide-for-small {
    display: table-header-group !important; }

  tbody.show-for-medium, tbody.show-for-medium-up, tbody.hide-for-small {
    display: table-row-group !important; }

  tr.show-for-medium, tr.show-for-medium-up, tr.hide-for-small {
    display: table-row !important; }

  td.show-for-medium, td.show-for-medium-up, td.hide-for-small,
  th.show-for-medium,
  th.show-for-medium-up,
  th.hide-for-small {
    display: table-cell !important; } }
/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 768px) {
  .show-for-large,
  .show-for-large-up {
    display: inherit !important; }

  .show-for-medium,
  .show-for-medium-down {
    display: none !important; }

  .hide-for-large,
  .hide-for-large-up {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-large, table.show-for-large-up, table.hide-for-medium, table.hide-for-medium-down {
    display: table; }

  thead.show-for-large, thead.show-for-large-up, thead.hide-for-medium, thead.hide-for-medium-down {
    display: table-header-group !important; }

  tbody.show-for-large, tbody.show-for-large-up, tbody.hide-for-medium, tbody.hide-for-medium-down {
    display: table-row-group !important; }

  tr.show-for-large, tr.show-for-large-up, tr.hide-for-medium, tr.hide-for-medium-down {
    display: table-row !important; }

  td.show-for-large, td.show-for-large-up, td.hide-for-medium, td.hide-for-medium-down,
  th.show-for-large,
  th.show-for-large-up,
  th.hide-for-medium,
  th.hide-for-medium-down {
    display: table-cell !important; } }
/* X-Large Displays: 1400px and up */
@media only screen and (min-width: 2000px) {
  .show-for-xlarge {
    display: inherit !important; }

  .show-for-large,
  .show-for-large-down {
    display: none !important; }

  .hide-for-large,
  .hide-for-large-down {
    display: inherit !important; }

  .hide-for-xlarge {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-xlarge, table.hide-for-large, table.hide-for-large-down {
    display: table; }

  thead.show-for-xlarge, thead.hide-for-large, thead.hide-for-large-down {
    display: table-header-group !important; }

  tbody.show-for-xlarge, tbody.hide-for-large, tbody.hide-for-large-down {
    display: table-row-group !important; }

  tr.show-for-xlarge, tr.hide-for-large, tr.hide-for-large-down {
    display: table-row !important; }

  td.show-for-xlarge, td.hide-for-large, td.hide-for-large-down,
  th.show-for-xlarge,
  th.hide-for-large,
  th.hide-for-large-down {
    display: table-cell !important; } }
/* Orientation targeting */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important; }

.hide-for-landscape,
.show-for-portrait {
  display: none !important; }

/* Specific visilbity for tables */
table.hide-for-landscape, table.show-for-portrait {
  display: table; }

thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important; }

tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important; }

tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important; }

td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important; }

@media only screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important; }

  .hide-for-landscape,
  .show-for-portrait {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-landscape, table.hide-for-portrait {
    display: table; }

  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important; }

  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important; }

  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important; }

  td.show-for-landscape, td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important; } }
@media only screen and (orientation: portrait) {
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important; }

  .hide-for-portrait,
  .show-for-landscape {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-portrait, table.hide-for-landscape {
    display: table; }

  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important; }

  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important; }

  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important; }

  td.show-for-portrait, td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important; } }
/* Touch-enabled device targeting */
.show-for-touch {
  display: none !important; }

.hide-for-touch {
  display: inherit !important; }

.touch .show-for-touch {
  display: inherit !important; }

.touch .hide-for-touch {
  display: none !important; }

/* Specific visilbity for tables */
table.hide-for-touch {
  display: table; }

.touch table.show-for-touch {
  display: table; }

thead.hide-for-touch {
  display: table-header-group !important; }

.touch thead.show-for-touch {
  display: table-header-group !important; }

tbody.hide-for-touch {
  display: table-row-group !important; }

.touch tbody.show-for-touch {
  display: table-row-group !important; }

tr.hide-for-touch {
  display: table-row !important; }

.touch tr.show-for-touch {
  display: table-row !important; }

td.hide-for-touch {
  display: table-cell !important; }

.touch td.show-for-touch {
  display: table-cell !important; }

th.hide-for-touch {
  display: table-cell !important; }

.touch th.show-for-touch {
  display: table-cell !important; }

/* Styles for screens that are atleast 768px and max width 1024px */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .medium-1 {
    position: relative;
    width: 8.33333%; }

  .medium-2 {
    position: relative;
    width: 16.66667%; }

  .medium-3 {
    position: relative;
    width: 25%; }

  .medium-4 {
    position: relative;
    width: 33.33333%; }

  .medium-5 {
    position: relative;
    width: 41.66667%; }

  .medium-6 {
    position: relative;
    width: 50%; }

  .medium-7 {
    position: relative;
    width: 58.33333%; }

  .medium-8 {
    position: relative;
    width: 66.66667%; }

  .medium-9 {
    position: relative;
    width: 75%; }

  .medium-10 {
    position: relative;
    width: 83.33333%; }

  .medium-11 {
    position: relative;
    width: 91.66667%; }

  .medium-12 {
    position: relative;
    width: 100%; }

  .row .medium-offset-0 {
    position: relative;
    margin-left: 0%; }

  .row .medium-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .row .medium-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .row .medium-offset-3 {
    position: relative;
    margin-left: 25%; }

  .row .medium-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .row .medium-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .row .medium-offset-6 {
    position: relative;
    margin-left: 50%; }

  .row .medium-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .row .medium-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .row .medium-offset-9 {
    position: relative;
    margin-left: 75%; }

  .row .medium-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  .row .medium-offset-11 {
    position: relative;
    margin-left: 91.66667%; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column.medium-centered,
  .columns.medium-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right !important; } }
/* normalize.css v2.1.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Set default font family to sans-serif.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 
  RESET - ADAPTED FROM MEYER RESET
  URL - http://meyerweb.com/eric/tools/css/reset/
  LICENSE - PUBLIC DOMAIN
*/
/* RESET
----------------------------------------------------------------------------------------------------*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  white-space: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 *  Font Awesome 3.2.1
 *  the iconic font designed for Bootstrap
 *  ------------------------------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation can be
 *  found at http://fontawesome.io.  Stay up to date on Twitter at
 *  http://twitter.com/fontawesome.
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - The Font Awesome font is licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Font Awesome documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 *
 *  Author - Dave Gandy
 *  ------------------------------------------------------------------------------
 *  Email: dave@fontawesome.io
 *  Twitter: http://twitter.com/davegandy
 *  Work: Lead Product Designer @ Kyruus - http://kyruus.com
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("/css/sass/font-awesome/font/fontawesome-webfont.eot?v=3.2.1");
  src: url("/css/sass/font-awesome/font/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("/css/sass/font-awesome/font/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("/css/sass/font-awesome/font/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("/css/sass/font-awesome/font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal; }

/* FONT AWESOME CORE
 * -------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none; }

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.33333em; }

/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline; }

/* increased font size for icon-large */
[class^="icon-"].icon-fixed-width,
[class*=" icon-"].icon-fixed-width {
  display: inline-block;
  width: 1.14286em;
  text-align: right;
  padding-right: 0.28571em; }
  [class^="icon-"].icon-fixed-width.icon-large,
  [class*=" icon-"].icon-fixed-width.icon-large {
    width: 1.42857em; }

.icons-ul {
  margin-left: 2.14286em;
  list-style-type: none; }
  .icons-ul > li {
    position: relative; }
  .icons-ul .icon-li {
    position: absolute;
    left: -2.14286em;
    width: 2.14286em;
    text-align: center;
    line-height: inherit; }

[class^="icon-"].hide,
[class*=" icon-"].hide {
  display: none; }

.icon-muted {
  color: #eeeeee; }

.icon-light {
  color: white; }

.icon-dark {
  color: #333333; }

.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.icon-2x {
  font-size: 2em; }
  .icon-2x.icon-border {
    border-width: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }

.icon-3x {
  font-size: 3em; }
  .icon-3x.icon-border {
    border-width: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

.icon-4x {
  font-size: 4em; }
  .icon-4x.icon-border {
    border-width: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }

.icon-5x {
  font-size: 5em; }
  .icon-5x.icon-border {
    border-width: 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em; }
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em; }

/* BOOTSTRAP SPECIFIC CLASSES
 * -------------------------- */
/* Bootstrap 2.0 sprites.less reset */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0; }

/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none; }

/* keeps Bootstrap styles with and without icons the same */
.btn [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em; }
.btn [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block; }

.nav-tabs [class^="icon-"], .nav-tabs [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"],
.nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"], .nav-pills [class^="icon-"].icon-large,
.nav-pills [class*=" icon-"],
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em; }

.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em; }
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em; }

.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em; }

.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0; }
  .btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x,
  .btn.btn-large [class*=" icon-"].pull-left.icon-2x,
  .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
    margin-top: .05em; }
  .btn.btn-large [class^="icon-"].pull-left.icon-2x,
  .btn.btn-large [class*=" icon-"].pull-left.icon-2x {
    margin-right: .2em; }
  .btn.btn-large [class^="icon-"].pull-right.icon-2x,
  .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
    margin-left: .2em; }

/* Fixes alignment in nav lists */
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  line-height: inherit; }

/* EXTRAS
 * -------------------------- */
/* Stacked and layered icon */
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: -35%; }
  .icon-stack [class^="icon-"],
  .icon-stack [class*=" icon-"] {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: inherit;
    *line-height: 2em; }
  .icon-stack .icon-stack-base {
    font-size: 2em;
    *line-height: 1em; }

/* Animated rotating icon */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear; }

/* Prevent stack and spinners from being taken inline when inside a link */
a .icon-stack,
a .icon-spin {
  display: inline-block;
  text-decoration: none; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg); } }

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }

  100% {
    -o-transform: rotate(359deg); } }

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }

  100% {
    -ms-transform: rotate(359deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(359deg); } }

/* Icon rotations and mirroring */
.icon-rotate-90:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }

.icon-rotate-180:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); }

.icon-rotate-270:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

.icon-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.icon-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1); }

/* ensure rotation occurs inside anchor tags */
a .icon-rotate-90:before, a .icon-rotate-180:before, a .icon-rotate-270:before, a .icon-flip-horizontal:before, a .icon-flip-vertical:before {
  display: inline-block; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 * readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000"; }

.icon-music:before {
  content: "\f001"; }

.icon-search:before {
  content: "\f002"; }

.icon-envelope-alt:before {
  content: "\f003"; }

.icon-heart:before {
  content: "\f004"; }

.icon-star:before {
  content: "\f005"; }

.icon-star-empty:before {
  content: "\f006"; }

.icon-user:before {
  content: "\f007"; }

.icon-film:before {
  content: "\f008"; }

.icon-th-large:before {
  content: "\f009"; }

.icon-th:before {
  content: "\f00a"; }

.icon-th-list:before {
  content: "\f00b"; }

.icon-ok:before {
  content: "\f00c"; }

.icon-remove:before {
  content: "\f00d"; }

.icon-zoom-in:before {
  content: "\f00e"; }

.icon-zoom-out:before {
  content: "\f010"; }

.icon-power-off:before,
.icon-off:before {
  content: "\f011"; }

.icon-signal:before {
  content: "\f012"; }

.icon-gear:before,
.icon-cog:before {
  content: "\f013"; }

.icon-trash:before {
  content: "\f014"; }

.icon-home:before {
  content: "\f015"; }

.icon-file-alt:before {
  content: "\f016"; }

.icon-time:before {
  content: "\f017"; }

.icon-road:before {
  content: "\f018"; }

.icon-download-alt:before {
  content: "\f019"; }

.icon-download:before {
  content: "\f01a"; }

.icon-upload:before {
  content: "\f01b"; }

.icon-inbox:before {
  content: "\f01c"; }

.icon-play-circle:before {
  content: "\f01d"; }

.icon-rotate-right:before,
.icon-repeat:before {
  content: "\f01e"; }

.icon-refresh:before {
  content: "\f021"; }

.icon-list-alt:before {
  content: "\f022"; }

.icon-lock:before {
  content: "\f023"; }

.icon-flag:before {
  content: "\f024"; }

.icon-headphones:before {
  content: "\f025"; }

.icon-volume-off:before {
  content: "\f026"; }

.icon-volume-down:before {
  content: "\f027"; }

.icon-volume-up:before {
  content: "\f028"; }

.icon-qrcode:before {
  content: "\f029"; }

.icon-barcode:before {
  content: "\f02a"; }

.icon-tag:before {
  content: "\f02b"; }

.icon-tags:before {
  content: "\f02c"; }

.icon-book:before {
  content: "\f02d"; }

.icon-bookmark:before {
  content: "\f02e"; }

.icon-print:before {
  content: "\f02f"; }

.icon-camera:before {
  content: "\f030"; }

.icon-font:before {
  content: "\f031"; }

.icon-bold:before {
  content: "\f032"; }

.icon-italic:before {
  content: "\f033"; }

.icon-text-height:before {
  content: "\f034"; }

.icon-text-width:before {
  content: "\f035"; }

.icon-align-left:before {
  content: "\f036"; }

.icon-align-center:before {
  content: "\f037"; }

.icon-align-right:before {
  content: "\f038"; }

.icon-align-justify:before {
  content: "\f039"; }

.icon-list:before {
  content: "\f03a"; }

.icon-indent-left:before {
  content: "\f03b"; }

.icon-indent-right:before {
  content: "\f03c"; }

.icon-facetime-video:before {
  content: "\f03d"; }

.icon-picture:before {
  content: "\f03e"; }

.icon-pencil:before {
  content: "\f040"; }

.icon-map-marker:before {
  content: "\f041"; }

.icon-adjust:before {
  content: "\f042"; }

.icon-tint:before {
  content: "\f043"; }

.icon-edit:before {
  content: "\f044"; }

.icon-share:before {
  content: "\f045"; }

.icon-check:before {
  content: "\f046"; }

.icon-move:before {
  content: "\f047"; }

.icon-step-backward:before {
  content: "\f048"; }

.icon-fast-backward:before {
  content: "\f049"; }

.icon-backward:before {
  content: "\f04a"; }

.icon-play:before {
  content: "\f04b"; }

.icon-pause:before {
  content: "\f04c"; }

.icon-stop:before {
  content: "\f04d"; }

.icon-forward:before {
  content: "\f04e"; }

.icon-fast-forward:before {
  content: "\f050"; }

.icon-step-forward:before {
  content: "\f051"; }

.icon-eject:before {
  content: "\f052"; }

.icon-chevron-left:before {
  content: "\f053"; }

.icon-chevron-right:before {
  content: "\f054"; }

.icon-plus-sign:before {
  content: "\f055"; }

.icon-minus-sign:before {
  content: "\f056"; }

.icon-remove-sign:before {
  content: "\f057"; }

.icon-ok-sign:before {
  content: "\f058"; }

.icon-question-sign:before {
  content: "\f059"; }

.icon-info-sign:before {
  content: "\f05a"; }

.icon-screenshot:before {
  content: "\f05b"; }

.icon-remove-circle:before {
  content: "\f05c"; }

.icon-ok-circle:before {
  content: "\f05d"; }

.icon-ban-circle:before {
  content: "\f05e"; }

.icon-arrow-left:before {
  content: "\f060"; }

.icon-arrow-right:before {
  content: "\f061"; }

.icon-arrow-up:before {
  content: "\f062"; }

.icon-arrow-down:before {
  content: "\f063"; }

.icon-mail-forward:before,
.icon-share-alt:before {
  content: "\f064"; }

.icon-resize-full:before {
  content: "\f065"; }

.icon-resize-small:before {
  content: "\f066"; }

.icon-plus:before {
  content: "\f067"; }

.icon-minus:before {
  content: "\f068"; }

.icon-asterisk:before {
  content: "\f069"; }

.icon-exclamation-sign:before {
  content: "\f06a"; }

.icon-gift:before {
  content: "\f06b"; }

.icon-leaf:before {
  content: "\f06c"; }

.icon-fire:before {
  content: "\f06d"; }

.icon-eye-open:before {
  content: "\f06e"; }

.icon-eye-close:before {
  content: "\f070"; }

.icon-warning-sign:before {
  content: "\f071"; }

.icon-plane:before {
  content: "\f072"; }

.icon-calendar:before {
  content: "\f073"; }

.icon-random:before {
  content: "\f074"; }

.icon-comment:before {
  content: "\f075"; }

.icon-magnet:before {
  content: "\f076"; }

.icon-chevron-up:before {
  content: "\f077"; }

.icon-chevron-down:before {
  content: "\f078"; }

.icon-retweet:before {
  content: "\f079"; }

.icon-shopping-cart:before {
  content: "\f07a"; }

.icon-folder-close:before {
  content: "\f07b"; }

.icon-folder-open:before {
  content: "\f07c"; }

.icon-resize-vertical:before {
  content: "\f07d"; }

.icon-resize-horizontal:before {
  content: "\f07e"; }

.icon-bar-chart:before {
  content: "\f080"; }

.icon-twitter-sign:before {
  content: "\f081"; }

.icon-facebook-sign:before {
  content: "\f082"; }

.icon-camera-retro:before {
  content: "\f083"; }

.icon-key:before {
  content: "\f084"; }

.icon-gears:before,
.icon-cogs:before {
  content: "\f085"; }

.icon-comments:before {
  content: "\f086"; }

.icon-thumbs-up-alt:before {
  content: "\f087"; }

.icon-thumbs-down-alt:before {
  content: "\f088"; }

.icon-star-half:before {
  content: "\f089"; }

.icon-heart-empty:before {
  content: "\f08a"; }

.icon-signout:before {
  content: "\f08b"; }

.icon-linkedin-sign:before {
  content: "\f08c"; }

.icon-pushpin:before {
  content: "\f08d"; }

.icon-external-link:before {
  content: "\f08e"; }

.icon-signin:before {
  content: "\f090"; }

.icon-trophy:before {
  content: "\f091"; }

.icon-github-sign:before {
  content: "\f092"; }

.icon-upload-alt:before {
  content: "\f093"; }

.icon-lemon:before {
  content: "\f094"; }

.icon-phone:before {
  content: "\f095"; }

.icon-unchecked:before,
.icon-check-empty:before {
  content: "\f096"; }

.icon-bookmark-empty:before {
  content: "\f097"; }

.icon-phone-sign:before {
  content: "\f098"; }

.icon-twitter:before {
  content: "\f099"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-github:before {
  content: "\f09b"; }

.icon-unlock:before {
  content: "\f09c"; }

.icon-credit-card:before {
  content: "\f09d"; }

.icon-rss:before {
  content: "\f09e"; }

.icon-hdd:before {
  content: "\f0a0"; }

.icon-bullhorn:before {
  content: "\f0a1"; }

.icon-bell:before {
  content: "\f0a2"; }

.icon-certificate:before {
  content: "\f0a3"; }

.icon-hand-right:before {
  content: "\f0a4"; }

.icon-hand-left:before {
  content: "\f0a5"; }

.icon-hand-up:before {
  content: "\f0a6"; }

.icon-hand-down:before {
  content: "\f0a7"; }

.icon-circle-arrow-left:before {
  content: "\f0a8"; }

.icon-circle-arrow-right:before {
  content: "\f0a9"; }

.icon-circle-arrow-up:before {
  content: "\f0aa"; }

.icon-circle-arrow-down:before {
  content: "\f0ab"; }

.icon-globe:before {
  content: "\f0ac"; }

.icon-wrench:before {
  content: "\f0ad"; }

.icon-tasks:before {
  content: "\f0ae"; }

.icon-filter:before {
  content: "\f0b0"; }

.icon-briefcase:before {
  content: "\f0b1"; }

.icon-fullscreen:before {
  content: "\f0b2"; }

.icon-group:before {
  content: "\f0c0"; }

.icon-link:before {
  content: "\f0c1"; }

.icon-cloud:before {
  content: "\f0c2"; }

.icon-beaker:before {
  content: "\f0c3"; }

.icon-cut:before {
  content: "\f0c4"; }

.icon-copy:before {
  content: "\f0c5"; }

.icon-paperclip:before,
.icon-paper-clip:before {
  content: "\f0c6"; }

.icon-save:before {
  content: "\f0c7"; }

.icon-sign-blank:before {
  content: "\f0c8"; }

.icon-reorder:before {
  content: "\f0c9"; }

.icon-list-ul:before {
  content: "\f0ca"; }

.icon-list-ol:before {
  content: "\f0cb"; }

.icon-strikethrough:before {
  content: "\f0cc"; }

.icon-underline:before {
  content: "\f0cd"; }

.icon-table:before {
  content: "\f0ce"; }

.icon-magic:before {
  content: "\f0d0"; }

.icon-truck:before {
  content: "\f0d1"; }

.icon-pinterest:before {
  content: "\f0d2"; }

.icon-pinterest-sign:before {
  content: "\f0d3"; }

.icon-google-plus-sign:before {
  content: "\f0d4"; }

.icon-google-plus:before {
  content: "\f0d5"; }

.icon-money:before {
  content: "\f0d6"; }

.icon-caret-down:before {
  content: "\f0d7"; }

.icon-caret-up:before {
  content: "\f0d8"; }

.icon-caret-left:before {
  content: "\f0d9"; }

.icon-caret-right:before {
  content: "\f0da"; }

.icon-columns:before {
  content: "\f0db"; }

.icon-sort:before {
  content: "\f0dc"; }

.icon-sort-down:before {
  content: "\f0dd"; }

.icon-sort-up:before {
  content: "\f0de"; }

.icon-envelope:before {
  content: "\f0e0"; }

.icon-linkedin:before {
  content: "\f0e1"; }

.icon-rotate-left:before,
.icon-undo:before {
  content: "\f0e2"; }

.icon-legal:before {
  content: "\f0e3"; }

.icon-dashboard:before {
  content: "\f0e4"; }

.icon-comment-alt:before {
  content: "\f0e5"; }

.icon-comments-alt:before {
  content: "\f0e6"; }

.icon-bolt:before {
  content: "\f0e7"; }

.icon-sitemap:before {
  content: "\f0e8"; }

.icon-umbrella:before {
  content: "\f0e9"; }

.icon-paste:before {
  content: "\f0ea"; }

.icon-lightbulb:before {
  content: "\f0eb"; }

.icon-exchange:before {
  content: "\f0ec"; }

.icon-cloud-download:before {
  content: "\f0ed"; }

.icon-cloud-upload:before {
  content: "\f0ee"; }

.icon-user-md:before {
  content: "\f0f0"; }

.icon-stethoscope:before {
  content: "\f0f1"; }

.icon-suitcase:before {
  content: "\f0f2"; }

.icon-bell-alt:before {
  content: "\f0f3"; }

.icon-coffee:before {
  content: "\f0f4"; }

.icon-food:before {
  content: "\f0f5"; }

.icon-file-text-alt:before {
  content: "\f0f6"; }

.icon-building:before {
  content: "\f0f7"; }

.icon-hospital:before {
  content: "\f0f8"; }

.icon-ambulance:before {
  content: "\f0f9"; }

.icon-medkit:before {
  content: "\f0fa"; }

.icon-fighter-jet:before {
  content: "\f0fb"; }

.icon-beer:before {
  content: "\f0fc"; }

.icon-h-sign:before {
  content: "\f0fd"; }

.icon-plus-sign-alt:before {
  content: "\f0fe"; }

.icon-double-angle-left:before {
  content: "\f100"; }

.icon-double-angle-right:before {
  content: "\f101"; }

.icon-double-angle-up:before {
  content: "\f102"; }

.icon-double-angle-down:before {
  content: "\f103"; }

.icon-angle-left:before {
  content: "\f104"; }

.icon-angle-right:before {
  content: "\f105"; }

.icon-angle-up:before {
  content: "\f106"; }

.icon-angle-down:before {
  content: "\f107"; }

.icon-desktop:before {
  content: "\f108"; }

.icon-laptop:before {
  content: "\f109"; }

.icon-tablet:before {
  content: "\f10a"; }

.icon-mobile-phone:before {
  content: "\f10b"; }

.icon-circle-blank:before {
  content: "\f10c"; }

.icon-quote-left:before {
  content: "\f10d"; }

.icon-quote-right:before {
  content: "\f10e"; }

.icon-spinner:before {
  content: "\f110"; }

.icon-circle:before {
  content: "\f111"; }

.icon-mail-reply:before,
.icon-reply:before {
  content: "\f112"; }

.icon-github-alt:before {
  content: "\f113"; }

.icon-folder-close-alt:before {
  content: "\f114"; }

.icon-folder-open-alt:before {
  content: "\f115"; }

.icon-expand-alt:before {
  content: "\f116"; }

.icon-collapse-alt:before {
  content: "\f117"; }

.icon-smile:before {
  content: "\f118"; }

.icon-frown:before {
  content: "\f119"; }

.icon-meh:before {
  content: "\f11a"; }

.icon-gamepad:before {
  content: "\f11b"; }

.icon-keyboard:before {
  content: "\f11c"; }

.icon-flag-alt:before {
  content: "\f11d"; }

.icon-flag-checkered:before {
  content: "\f11e"; }

.icon-terminal:before {
  content: "\f120"; }

.icon-code:before {
  content: "\f121"; }

.icon-reply-all:before {
  content: "\f122"; }

.icon-mail-reply-all:before {
  content: "\f122"; }

.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123"; }

.icon-location-arrow:before {
  content: "\f124"; }

.icon-crop:before {
  content: "\f125"; }

.icon-code-fork:before {
  content: "\f126"; }

.icon-unlink:before {
  content: "\f127"; }

.icon-question:before {
  content: "\f128"; }

.icon-info:before {
  content: "\f129"; }

.icon-exclamation:before {
  content: "\f12a"; }

.icon-superscript:before {
  content: "\f12b"; }

.icon-subscript:before {
  content: "\f12c"; }

.icon-eraser:before {
  content: "\f12d"; }

.icon-puzzle-piece:before {
  content: "\f12e"; }

.icon-microphone:before {
  content: "\f130"; }

.icon-microphone-off:before {
  content: "\f131"; }

.icon-shield:before {
  content: "\f132"; }

.icon-calendar-empty:before {
  content: "\f133"; }

.icon-fire-extinguisher:before {
  content: "\f134"; }

.icon-rocket:before {
  content: "\f135"; }

.icon-maxcdn:before {
  content: "\f136"; }

.icon-chevron-sign-left:before {
  content: "\f137"; }

.icon-chevron-sign-right:before {
  content: "\f138"; }

.icon-chevron-sign-up:before {
  content: "\f139"; }

.icon-chevron-sign-down:before {
  content: "\f13a"; }

.icon-html5:before {
  content: "\f13b"; }

.icon-css3:before {
  content: "\f13c"; }

.icon-anchor:before {
  content: "\f13d"; }

.icon-unlock-alt:before {
  content: "\f13e"; }

.icon-bullseye:before {
  content: "\f140"; }

.icon-ellipsis-horizontal:before {
  content: "\f141"; }

.icon-ellipsis-vertical:before {
  content: "\f142"; }

.icon-rss-sign:before {
  content: "\f143"; }

.icon-play-sign:before {
  content: "\f144"; }

.icon-ticket:before {
  content: "\f145"; }

.icon-minus-sign-alt:before {
  content: "\f146"; }

.icon-check-minus:before {
  content: "\f147"; }

.icon-level-up:before {
  content: "\f148"; }

.icon-level-down:before {
  content: "\f149"; }

.icon-check-sign:before {
  content: "\f14a"; }

.icon-edit-sign:before {
  content: "\f14b"; }

.icon-external-link-sign:before {
  content: "\f14c"; }

.icon-share-sign:before {
  content: "\f14d"; }

.icon-compass:before {
  content: "\f14e"; }

.icon-collapse:before {
  content: "\f150"; }

.icon-collapse-top:before {
  content: "\f151"; }

.icon-expand:before {
  content: "\f152"; }

.icon-euro:before,
.icon-eur:before {
  content: "\f153"; }

.icon-gbp:before {
  content: "\f154"; }

.icon-dollar:before,
.icon-usd:before {
  content: "\f155"; }

.icon-rupee:before,
.icon-inr:before {
  content: "\f156"; }

.icon-yen:before,
.icon-jpy:before {
  content: "\f157"; }

.icon-renminbi:before,
.icon-cny:before {
  content: "\f158"; }

.icon-won:before,
.icon-krw:before {
  content: "\f159"; }

.icon-bitcoin:before,
.icon-btc:before {
  content: "\f15a"; }

.icon-file:before {
  content: "\f15b"; }

.icon-file-text:before {
  content: "\f15c"; }

.icon-sort-by-alphabet:before {
  content: "\f15d"; }

.icon-sort-by-alphabet-alt:before {
  content: "\f15e"; }

.icon-sort-by-attributes:before {
  content: "\f160"; }

.icon-sort-by-attributes-alt:before {
  content: "\f161"; }

.icon-sort-by-order:before {
  content: "\f162"; }

.icon-sort-by-order-alt:before {
  content: "\f163"; }

.icon-thumbs-up:before {
  content: "\f164"; }

.icon-thumbs-down:before {
  content: "\f165"; }

.icon-youtube-sign:before {
  content: "\f166"; }

.icon-youtube:before {
  content: "\f167"; }

.icon-xing:before {
  content: "\f168"; }

.icon-xing-sign:before {
  content: "\f169"; }

.icon-youtube-play:before {
  content: "\f16a"; }

.icon-dropbox:before {
  content: "\f16b"; }

.icon-stackexchange:before {
  content: "\f16c"; }

.icon-instagram:before {
  content: "\f16d"; }

.icon-flickr:before {
  content: "\f16e"; }

.icon-adn:before {
  content: "\f170"; }

.icon-bitbucket:before {
  content: "\f171"; }

.icon-bitbucket-sign:before {
  content: "\f172"; }

.icon-tumblr:before {
  content: "\f173"; }

.icon-tumblr-sign:before {
  content: "\f174"; }

.icon-long-arrow-down:before {
  content: "\f175"; }

.icon-long-arrow-up:before {
  content: "\f176"; }

.icon-long-arrow-left:before {
  content: "\f177"; }

.icon-long-arrow-right:before {
  content: "\f178"; }

.icon-apple:before {
  content: "\f179"; }

.icon-windows:before {
  content: "\f17a"; }

.icon-android:before {
  content: "\f17b"; }

.icon-linux:before {
  content: "\f17c"; }

.icon-dribbble:before {
  content: "\f17d"; }

.icon-skype:before {
  content: "\f17e"; }

.icon-foursquare:before {
  content: "\f180"; }

.icon-trello:before {
  content: "\f181"; }

.icon-female:before {
  content: "\f182"; }

.icon-male:before {
  content: "\f183"; }

.icon-gittip:before {
  content: "\f184"; }

.icon-sun:before {
  content: "\f185"; }

.icon-moon:before {
  content: "\f186"; }

.icon-archive:before {
  content: "\f187"; }

.icon-bug:before {
  content: "\f188"; }

.icon-vk:before {
  content: "\f189"; }

.icon-weibo:before {
  content: "\f18a"; }

.icon-renren:before {
  content: "\f18b"; }

/*
@font-face {
  font-family: "BreeBold";
  src: url('../fonts/BreeBold.otf');
  src: local('../fonts/BreeBold.otf');
  src: url('../fonts/BreeBold.otf') format('opentype');
}
*/
.awesome-icon {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  color: #246ba5;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .awesome-icon:hover {
    opacity: 0.7; }
  .awesome-icon a, .awesome-icon a:visited {
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    color: #246ba5;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .awesome-icon a:hover, .awesome-icon a:visited:hover {
      opacity: 0.7; }

.social-icons a {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  color: #246ba5;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-left: 6px;
  color: #FFF; }
  .social-icons a:hover {
    opacity: 0.7; }
  .social-icons a:first-child {
    margin-left: 0 !important; }

.stitched-hl {
  height: 43px;
  background: url("../../img/base/default-heading-dashed-border.png") repeat-x center white;
  position: relative; }
  .stitched-hl .left-inset, .stitched-hl .right-inset {
    position: absolute;
    width: 17px;
    height: 32px;
    top: 6px; }
  .stitched-hl .left-inset {
    left: 0;
    background-image: url("../../img/base/default-heading-left-inset2.png"); }
  .stitched-hl .right-inset {
    right: 0;
    background-image: url("../../img/base/default-heading-right-inset2.png"); }

.section-divider {
  height: 43px;
  background: url("../../img/base/default-heading-dashed-border.png") repeat-x center white;
  position: relative; }

.button.blue {
  display: inline-block;
  letter-spacing: 1px; }
  .button.blue > * {
    height: 42px;
    color: #FFF !important;
    display: inline-block;
    float: left; }
  .button.blue .l {
    width: 11px;
    height: 42px;
    background: url("../../img/base/blue-button_left.png") -6px 0 no-repeat; }
  .button.blue .m {
    background: url("../../img/base/blue-button_middle.png") repeat-x;
    line-height: 41px;
    padding: 0 20px 0 20px; }
  .button.blue .r {
    width: 5px;
    height: 42px;
    background: url("../../img/base/blue-button_right.png") -6px 0 no-repeat; }

.button.tan {
  display: inline-block;
  letter-spacing: 1px; }
  .button.tan > * {
    height: 42px;
    color: #FFF !important;
    display: inline-block;
    float: left; }
  .button.tan .l {
    width: 11px;
    height: 42px;
    background: url("../../img/base/tan-button_left.png") -6px 0 no-repeat; }
  .button.tan .m {
    background: url("../../img/base/tan-button_middle.png") repeat-x;
    line-height: 41px;
    padding: 0 20px 0 20px; }
  .button.tan .r {
    width: 5px;
    height: 42px;
    background: url("../../img/base/tan-button_right.png") -6px 0 no-repeat; }

.blue_button {
  background: #3d69a4;
  padding: 6px 35px 8px;
  border-radius: 7px;
  color: #FFF; }

div.blue-button-wrapper {
  text-align: center; }

form.searchbar {
  height: 32px;
  position: relative;
  background: url("../../img/base/searchbar2.png");
  display: inline-block;
  margin-bottom: 6px;
  margin-left: 20px;
  width: 206px;
  height: 36px;
  /* firefox 19+ */
  /* ie */ }
  form.searchbar ::-webkit-input-placeholder {
    color: #DDD; }
  form.searchbar ::-moz-placeholder {
    color: #DDD; }
  form.searchbar :-ms-input-placeholder {
    color: #DDD; }
  form.searchbar input:-moz-placeholder {
    color: #DDD; }
  form.searchbar input[type="search"] {
    width: 161px;
    box-shadow: none;
    margin-top: 0px;
    text-indent: 13px;
    font-weight: lighter;
    font-style: italic;
    left: 0;
    top: 0;
    position: absolute;
    padding: 0;
    border: 0;
    background: transparent;
    padding-top: 5px;
    color: #333 !important;
    font-size: 15px;
    padding-top: 8px; }
  form.searchbar input[type="submit"] {
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    border: none;
    right: 0;
    position: absolute;
    height: 36px;
    color: #FFF;
    width: 40px;
    background: transparent;
    -webkit-font-smoothing: antialiased; }
    form.searchbar input[type="submit"]:hover {
      opacity: 0.8; }

#wrap .psuedo-table ul {
  margin-top: 20px; }
  #wrap .psuedo-table ul li {
    font-size: 18px;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    padding: 13px 0; }
  #wrap .psuedo-table ul li.head {
    font-size: 19px;
    color: #3d69a4;
    font-weight: bold; }
  #wrap .psuedo-table ul li:last-child {
    float: none; }
  #wrap .psuedo-table ul li:nth-child(even) {
    background-color: #ebf0fb; }

form.default {
  width: 100%; }
  form.default input, form.default textarea {
    background-color: #ebf0fb;
    display: block;
    width: 100%;
    border: 1px solid #c9d0fb;
    padding: 4px;
    margin-bottom: 5px; }

@media only screen and (max-width: 480px) {
  ul.default {
    margin-left: 20px; } }
ul.default li {
  margin-bottom: 5px; }
ul.default li:before {
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0px;
  max-height: 0px;
  left: -20px;
  top: -3px;
  color: #246aa5;
  font-size: 25px; }

hr.stitched {
  background: url("../../img/misc/stitched-hr.png") repeat-x;
  height: 1px;
  border: none;
  margin: 5px 0; }

body {
  color: #4f4e4f;
  font-family: "EB Garamond", serif;
  font-size: 16px;
  background: url("../../img/base/body-wallpaper-bg.png") 0 3px repeat-x white; }
  @media only screen and (max-width: 480px) {
    body {
      background: none; } }
  @media only screen and (min-device-width: 481px) and (max-width: 768px) {
    body {
      background-position-y: 200px; } }

h1, h2 {
  -webkit-font-smoothing: antialiased;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  color: #94a9b5;
  line-height: 1.4em;
  font-weight: bold;
  font-variant: normal;
  font-family: Georgia, serif;
  font-size: 2em;
  color: #3d69a4; }
  h1.large, h2.large {
    font-size: 44px; }
  @media only screen and (min-device-width: 769px) and (max-width: 2000px) {
    h1, h2 {
      font-size: 2em; } }
  @media only screen and (max-width: 480px) {
    h1, h2 {
      text-align: center;
      font-size: 1.8em; } }

h3 {
  font: italic normal normal 20px/1.4em Georgia, serif;
  font-weight: 700;
  color: #666; }

h4 {
  font: normal normal normal 24px/1.4em "EB Garamond", serif;
  color: #4f4e4f;
  margin-bottom: 4px; }

h5 {
  font: normal normal normal 18px/1.4em Georgia, serif;
  color: #4f4e4f; }

p {
  line-height: 1.3; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

a, a:visited {
  color: #4f4e4f; }

a:hover {
  color: #94a9b5; }

.show-for-small hr {
  border: none;
  background-color: #d9e5f0;
  height: 1px;
  width: 100%; }

.relative {
  position: relative; }

.page-template .row {
  background-color: #FFF; }

#header {
  padding-top: 33px;
  height: 242px;
  padding-bottom: 32px;
  background: url("../../img/base/header-bottom-stitched-bg.png") bottom no-repeat; }
  #header > .row {
    background: #FFF; }
  @media only screen and (min-device-width: 769px) and (max-width: 2000px) {
    #header {
      padding-top: 33px; }
      #header .logo {
        margin-top: -22px; } }
  @media only screen and (max-width: 480px) {
    #header {
      padding-top: 16px;
      height: 270px; }
      #header .columns.small-purchase {
        text-align: center;
        padding: 10px 0; }
      #header .logo {
        margin-top: 30px; } }
  #header section.top.row .social-icons.columns {
    text-align: left; }
    #header section.top.row .social-icons.columns a {
      color: #3d69a4;
      margin-left: 11px;
      font-size: 18px; }
    @media only screen and (min-device-width: 769px) and (max-width: 2000px) {
      #header section.top.row .social-icons.columns {
        line-height: 32px;
        margin-top: 22px; } }
  #header section.top.row .mobile-icons {
    text-align: right; }
  #header section.top.row .logo.columns h2 {
    font-size: 0; }
  #header section.top.row .searchbar.columns {
    text-align: right; }
    #header section.top.row .searchbar.columns form {
      margin-top: 22px; }
  @media only screen and (min-device-width: 769px) and (max-width: 2000px) {
    #header section.top.row {
      padding-top: 24px; } }
  #header .logo a {
    display: block;
    width: 184px;
    height: 83px;
    background: url("../../img/base/header-logo2.png") no-repeat 0 -39px;
    margin: 0 auto;
    margin-top: 13px; }
    #header .logo a h2 {
      color: #4f4e4f;
      font-family: "Mr De Haviland", cursive;
      font-size: 0px;
      text-align: center;
      font-style: normal;
      font-weight: normal; }
      @media only screen and (max-width: 480px) {
        #header .logo a h2 {
          min-height: 76px;
          padding-top: 16px;
          font-size: 35px;
          background: none;
          padding-left: 0; } }
      @media only screen and (min-device-width: 481px) and (max-width: 768px) {
        #header .logo a h2 {
          padding-left: 0;
          line-height: 2; } }
  #header nav.main-menu {
    margin-top: 8px; }
    #header nav.main-menu > ul {
      text-align: center;
      margin-left: -25px; }
      #header nav.main-menu > ul > li {
        display: inline-block;
        font-size: 18px;
        line-height: 70px;
        position: relative;
        margin-left: 5.3%; }
        #header nav.main-menu > ul > li:first-child {
          margin-left: 0; }
        @media only screen and (max-width: 480px) {
          #header nav.main-menu > ul > li {
            font-size: 1em;
            line-height: 52px;
            margin-left: 5%; } }
        #header nav.main-menu > ul > li > a, #header nav.main-menu > ul > li a:visited {
          color: #4f4e4f;
          height: 45px; }
          #header nav.main-menu > ul > li > a:hover, #header nav.main-menu > ul > li > a.active, #header nav.main-menu > ul > li a:visited:hover, #header nav.main-menu > ul > li a:visited.active {
            color: #94a9b5; }
        #header nav.main-menu > ul > li.purchase a {
          margin-bottom: -19px; }
        #header nav.main-menu > ul > li:hover ul, #header nav.main-menu > ul > li.test ul {
          display: block; }
          #header nav.main-menu > ul > li:hover ul .drop-arrow, #header nav.main-menu > ul > li.test ul .drop-arrow {
            background: url("../../img/misc/header-nav-submenu-drop-arrow.png") no-repeat bottom;
            position: absolute;
            width: 20px;
            height: 21px;
            z-index: 110;
            top: -21px;
            left: 44%; }
        #header nav.main-menu > ul > li.nosub {
          background: none !important; }
        #header nav.main-menu > ul > li > ul {
          display: none;
          position: absolute;
          background-color: #eaf0fc;
          padding: 10px;
          min-width: 185px;
          z-index: 100;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
          border: 1px solid #CCC; }
          #header nav.main-menu > ul > li > ul li {
            text-align: center;
            padding: 13px 0;
            margin: 0;
            line-height: 1; }
            #header nav.main-menu > ul > li > ul li > a, #header nav.main-menu > ul > li > ul li a:visited {
              color: #4f4e4f;
              line-height: 15px; }
              #header nav.main-menu > ul > li > ul li > a:hover, #header nav.main-menu > ul > li > ul li > a.active, #header nav.main-menu > ul > li > ul li a:visited:hover, #header nav.main-menu > ul > li > ul li a:visited.active {
                color: #94a9b5; }

@media only screen and (min-device-width: 481px) and (max-width: 768px) {
  section.page-template {
    border-left: 16px solid #e7decf;
    border-right: 16px solid #e7decf; } }
section.page-template section.page-content {
  min-height: 500px; }
  section.page-template section.page-content > .row {
    background-color: #FFF; }
section.page-template section.page-heading {
  position: relative;
  padding-top: 10px; }
  section.page-template section.page-heading > .columns.b {
    text-align: right; }
  @media only screen and (min-device-width: 769px) and (max-width: 2000px) {
    section.page-template section.page-heading h1 {
      margin-top: 0px;
      margin-bottom: 0; } }
  section.page-template section.page-heading .breadcrumb {
    margin-bottom: 15px; }
  section.page-template section.page-heading .searchbar {
    margin-top: 14px; }

.page-heading .breadcrumb, .heading2 .breadcrumb {
  color: #666; }
  .page-heading .breadcrumb a, .heading2 .breadcrumb a {
    color: #3d69a4;
    opacity: 0.7; }
  .page-heading .breadcrumb span, .heading2 .breadcrumb span {
    margin: 0 5px;
    color: #CCC; }

footer#footer {
  height: 114px;
  background: url("../../img/base/footer-bg-wallpaper.png") repeat-x;
  padding-top: 24px;
  overflow: hidden;
  margin-top: 30px; }
  footer#footer .row {
    background: url("../../img/base/footer-logo.png") no-repeat center 29px; }
  @media only screen and (max-width: 480px) {
    footer#footer {
      background: url("../../img/base/footer-bg-mobile.png") repeat-x;
      height: 149px;
      text-align: center; }
      footer#footer .row {
        background: none; } }
  footer#footer p, footer#footer a {
    line-height: 93px;
    color: #FFF; }
  footer#footer p.copyright {
    font-size: 14px; }
    @media only screen and (max-width: 480px) {
      footer#footer p.copyright {
        line-height: 22px;
        margin-top: 20px;
        text-align: center; } }
  footer#footer .social-buttons {
    text-align: right; }
    footer#footer .social-buttons a {
      font-family: "FontAwesome";
      -webkit-font-smoothing: antialiased;
      font-size: 20px;
      color: #246ba5;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      margin-left: 6px;
      color: #FFF; }
      footer#footer .social-buttons a:hover {
        opacity: 0.7; }
      footer#footer .social-buttons a:first-child {
        margin-left: 0 !important; }
    @media only screen and (max-width: 480px) {
      footer#footer .social-buttons {
        text-align: center; } }

body.category .page-heading, body.subcategory .page-heading {
  background-color: #FFF; }
  @media only screen and (max-width: 480px) {
    body.category .page-heading, body.subcategory .page-heading {
      background-color: transparent; } }
  @media only screen and (max-width: 480px) {
    body.category .page-heading h1, body.subcategory .page-heading h1 {
      font-size: 1.8em; } }
  @media only screen and (min-device-width: 481px) and (max-width: 768px) {
    body.category .page-heading h1, body.subcategory .page-heading h1 {
      text-align: center; } }
  body.category .page-heading h1 span, body.subcategory .page-heading h1 span {
    color: #b6856e; }
  body.category .page-heading .columns.b, body.subcategory .page-heading .columns.b {
    text-align: right; }
    @media only screen and (max-width: 480px) {
      body.category .page-heading .columns.b, body.subcategory .page-heading .columns.b {
        text-align: center;
        margin-bottom: 20px; } }
    body.category .page-heading .columns.b a.view-all, body.subcategory .page-heading .columns.b a.view-all {
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      margin-top: 22px; }
      @media only screen and (max-width: 480px) {
        body.category .page-heading .columns.b a.view-all, body.subcategory .page-heading .columns.b a.view-all {
          margin-top: 0; } }
body.category .row.heading2 .columns.b, body.subcategory .row.heading2 .columns.b {
  padding-top: 9px; }
  body.category .row.heading2 .columns.b label, body.subcategory .row.heading2 .columns.b label {
    color: #888;
    font-size: 15px;
    margin-right: 5px; }
  body.category .row.heading2 .columns.b select, body.subcategory .row.heading2 .columns.b select {
    display: inline-block;
    width: 150px;
    font-size: 13px; }
    body.category .row.heading2 .columns.b select.filter-2, body.subcategory .row.heading2 .columns.b select.filter-2 {
      float: right;
      margin-right: 6px;
      margin-top: 10px; }
body.category .row.heading2 .columns.c, body.subcategory .row.heading2 .columns.c {
  padding-top: 9px; }
body.category section.featured-items, body.subcategory section.featured-items {
  position: relative;
    /*
    .pagination {
      position: absolute;
      left: 50%;
      top: -28px;
      margin-left: -30px;

      a {
        display: inline-block;
        background: url( '../../img/misc/category-featured-items-pagination-dots.png' ) no-repeat;
        width: 13px;
        height: 13px;
        background-position: -20px 0;
        margin-left: 7px;
        &:first-child { margin-left: 0; }

        &.active {
          background-position: 0 0;
        }
        @include ease;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    */ }
  body.category section.featured-items .set, body.subcategory section.featured-items .set {
    display: none; }
    body.category section.featured-items .set.active, body.subcategory section.featured-items .set.active {
      display: block; }
  body.category section.featured-items .item, body.subcategory section.featured-items .item {
    margin-bottom: 10px; }
    @media only screen and (max-width: 480px) {
      body.category section.featured-items .item, body.subcategory section.featured-items .item {
        text-align: center;
        margin-bottom: 15px; } }
    body.category section.featured-items .item a, body.subcategory section.featured-items .item a {
      padding-top: 10px;
      display: inline-block; }
    body.category section.featured-items .item .info, body.subcategory section.featured-items .item .info {
      padding: 10px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      body.category section.featured-items .item .info > *, body.subcategory section.featured-items .item .info > * {
        text-align: center; }
    body.category section.featured-items .item:hover a, body.subcategory section.featured-items .item:hover a {
      background-color: #f2f7f9; }
    body.category section.featured-items .item:hover .info, body.subcategory section.featured-items .item:hover .info {
      background-color: #f2f7f9; }
    body.category section.featured-items .item h4, body.subcategory section.featured-items .item h4 {
      font-size: 22px; }
    body.category section.featured-items .item h5, body.subcategory section.featured-items .item h5 {
      font-style: italic; }
body.category section.all-items h2, body.subcategory section.all-items h2 {
  text-align: left;
  margin-bottom: 20px; }
  @media only screen and (max-width: 480px) {
    body.category section.all-items h2, body.subcategory section.all-items h2 {
      text-align: center; } }
body.category .results .pagination, body.subcategory .results .pagination {
  text-align: center;
  font-size: 19px;
  margin-top: 40px;
  margin-left: -42px; }
  body.category .results .pagination .prev, body.category .results .pagination .next, body.subcategory .results .pagination .prev, body.subcategory .results .pagination .next {
    font-weight: bold;
    color: #3d69a4; }
  body.category .results .pagination .enumerated, body.subcategory .results .pagination .enumerated {
    display: inline-block;
    margin: 0 80px;
    font-size: 21px; }
    body.category .results .pagination .enumerated a, body.subcategory .results .pagination .enumerated a {
      margin: 0 5px; }
    body.category .results .pagination .enumerated span.selected, body.subcategory .results .pagination .enumerated span.selected {
      border-bottom: 1px solid #000; }

@media only screen and (min-device-width: 769px) and (max-width: 2000px) {
  body.index .columns.text .decrease-width {
    width: 90%;
    margin: 0 auto;
    padding-left: 11px; } }
body.index .homepage-banner {
  padding-top: 30px;
  padding-bottom: 50px; }
  body.index .homepage-banner h2 {
    color: #3d69a4;
    font-size: 46px; }
  body.index .homepage-banner h4, body.index .homepage-banner p {
    color: #333; }
  body.index .homepage-banner h4 {
    margin-bottom: 0; }
  body.index .homepage-banner p {
    margin-bottom: 20px; }
  body.index .homepage-banner .columns.pic img {
    margin: 0 auto;
    display: block; }
  body.index .homepage-banner ul {
    margin-bottom: 43px;
    margin-top: 30px; }
body.index .panels section.panel {
  padding: 0; }
  body.index .panels section.panel > .row {
    border: 1px solid #dbdbdb;
    width: auto;
    padding: 20px;
    height: 224px;
    width: 459px;
    background: url("../../img/misc/framed-panel-bg.png"); }
    body.index .panels section.panel > .row > section.a img {
      width: 190px;
      margin-top: 10px; }
    body.index .panels section.panel > .row > section.b h2 {
      font-size: 32px; }
  @media only screen and (max-width: 480px) {
    body.index .panels section.panel {
      margin-bottom: 20px; }
      body.index .panels section.panel > .row {
        background: none;
        border-width: 13px;
        moz-border-image: url("../../img/misc/panel-border-image.png") 25% stretch stretch;
        -webkit-border-image: url("../../img/misc/panel-border-image.png") 25% stretch stretch;
        border-image: url("../../img/misc/panel-border-image.png") 25% stretch stretch;
        width: 106%;
        height: auto; }
        body.index .panels section.panel > .row h2 {
          font-size: 28px;
          text-align: left; }
        body.index .panels section.panel > .row h4 {
          font-size: 22px; }
        body.index .panels section.panel > .row p {
          margin-bottom: 20px; }
      body.index .panels section.panel.a img {
        margin: 0 auto;
        display: block;
        margin-top: 20px; } }
body.index .panels .newsletter input[type="email"] {
  box-shadow: none;
  border: 1px solid #CCC;
  color: #aaa;
  padding: 3px;
  text-indent: 5px;
  margin-left: 6px;
  margin-top: 6px; }
  @media only screen and (max-width: 480px) {
    body.index .panels .newsletter input[type="email"] {
      margin-left: 0;
      margin-top: 20px; } }
body.index .panels .newsletter .blue-button {
  display: inline-block;
  letter-spacing: 1px;
  margin-top: 24px;
  margin-left: 5px; }
  @media only screen and (max-width: 480px) {
    body.index .panels .newsletter .blue-button {
      margin-left: 0;
      margin-top: 17px; } }
@media only screen and (max-width: 480px) {
  body.index .homepage-banner {
    padding-top: 0px; }
    body.index .homepage-banner h2 {
      font-size: 41px; }
    body.index .homepage-banner h4 {
      font-size: 23px; } }

.detail-popup {
  width: 848px;
  background-color: #FFF;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px; }
  .detail-popup .overview .b {
    float: right; }
  .detail-popup .close {
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: url("../../img/base/close.gif");
    width: 13px;
    height: 13px; }
  .detail-popup .columns.b.info .breadcrumb {
    margin-bottom: 20px; }
    .detail-popup .columns.b.info .breadcrumb a {
      color: #319add; }
  .detail-popup .columns.b.info h4 {
    margin-top: 30px; }
  .detail-popup .columns.b.info p {
    font-size: 15px;
    margin-bottom: 10px; }
  .detail-popup .contact {
    padding-top: 15px;
    border-top: 1px solid #CCC;
    margin-top: 15px; }
    .detail-popup .contact p.directions {
      margin-top: 10px; }
      .detail-popup .contact p.directions a {
        color: #319add;
        font-style: italic;
        text-decoration: underline; }
    .detail-popup .contact .google-map-view img {
      border: 1px solid #CCC;
      padding: 0;
      margin: 0 auto; }

body.cart .psuedo-table li.head {
  margin-bottom: 0px;
  padding-bottom: 0px !important;
  border-top: 1px solid #EEE; }
body.cart .psuedo-table li:nth-child(even) {
  background-color: transparent !important; }
body.cart .psuedo-table input[type="number"] {
  display: inline-block;
  max-width: 100%;
  text-align: center; }
body.cart .total {
  padding-top: 86px;
  text-align: right; }
  body.cart .total h3 {
    text-align: right; }
  body.cart .total .price {
    font-weight: normal; }
  body.cart .total .blue-button {
    float: right;
    margin-top: 94px; }
body.cart .card-pics img {
  width: 290px; }

body.activate .blurb {
  padding-top: 40px; }
body.activate form {
  margin-top: 26px; }
body.activate .activation-form a.button {
  margin-top: 20px; }

body.about-us .tagline {
  padding-bottom: 30px;
  padding-top: 40px; }
body.about-us h5 {
  font-style: italic; }
body.about-us .about-us-pic .pic {
  float: right;
  position: relative;
  z-index: 100;
  margin-top: 10px; }
body.about-us .about-us-pic .award {
  position: absolute;
  z-index: 101;
  top: -7px;
  left: 40px; }

body.contact .blurb {
  padding-top: 40px;
  padding-bottom: 26px; }

body.faq .page-heading {
  padding-bottom: 40px; }
body.faq section.faq ul li section.question h3 {
  text-indent: 36px;
  background: url("../../img/misc/faq-arrow-right.png") no-repeat 6px 12px;
  border-bottom: 1px solid #cdd5db;
  padding: 5px 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
body.faq section.faq ul li section.answer {
  display: none; }
body.faq section.faq ul li.active section.question h3 {
  background-image: url("../../img/misc/faq-arrow-down.png");
  margin-bottom: 19px; }
body.faq section.faq ul li.active section.answer {
  display: block;
  margin-bottom: 19px; }
body.faq section.faq ul li a:hover h3 {
  opacity: 0.8; }

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative; }

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0; }

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #000;
  opacity: 0.7 !important; }

#colorbox {
  outline: 0; }

#cboxContent {
  margin-top: 32px;
  overflow: visible;
  background: #000; }

.cboxIframe {
  background: #fff; }

#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

#cboxLoadedContent {
  background: #000;
  padding: 1px; }

#cboxLoadingGraphic {
  background: url("../../img/plugins/cbox_loading.gif") no-repeat center center; }

#cboxLoadingOverlay {
  background: #000; }

#cboxTitle {
  position: absolute;
  top: -22px;
  left: 0;
  color: #000; }

#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url("../../img/plugins/cbox_controls.png") no-repeat 0 0; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0; }

#cboxPrevious {
  background-position: 0px 0px;
  right: 44px; }

#cboxPrevious:hover {
  background-position: 0px -25px; }

#cboxNext {
  background-position: -25px 0px;
  right: 22px; }

#cboxNext:hover {
  background-position: -25px -25px; }

#cboxClose {
  background-position: -50px 0px;
  right: 0;
  display: none !important; }

#cboxClose:hover {
  background-position: -50px -25px; }

.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious {
  right: 66px; }

.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px; }

.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px; }

.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px; }

.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px; }

/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("../../img/plugins/bx_loader.gif") center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
/*
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}
*/
.bx-pager {
  position: absolute;
  left: 50%;
  top: -28px;
  margin-left: -30px; }
  .bx-pager div {
    display: inline-block;
    margin-left: 7px; }
  .bx-pager a {
    display: inline-block;
    background: url("../../img/misc/category-featured-items-pagination-dots.png") no-repeat;
    width: 13px;
    height: 13px;
    background-position: -20px 0;
    font-size: 0;
    transition-property: none;
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none; }
    .bx-pager a:first-child {
      margin-left: 0; }
    .bx-pager a.active {
      background-position: 0 0; }
    .bx-pager a:hover {
      opacity: 0.5; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url("../../img/plugins/bx_controls.gif") no-repeat 0 -32px; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url("../../img/plugins/bx_controls.gif") no-repeat -43px -32px; }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("../../img/plugins/bx_controls.gif") -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("../../img/plugins/bx_controls.gif") -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

#wrap .blue-button {
  /*
  span {
    display: block;
    float: left;
    height: 58px;

    &.l {
      width: 14px;
      background: url( '../../img/base/button-left.png' ) no-repeat;
    }
    &.m {
      background: url( '../../img/base/button-middle.png' ) repeat-x 0 16px;
      margin-top: -16px;
      color: #FFF !important;
      text-indent: 4px;
      padding: 0 18px;
    }
    &.r {
      width: 14px;
      background: url( '../../img/base/button-right.png' ) no-repeat;
    }
  }
  */
  display: inline-block;
  height: 41px;
  /*
  @include respond_to( small_mode ) {
    display: block;
    margin: 0 auto;
  }
  */ }
  #wrap .blue-button span {
    display: block;
    float: left;
    height: 41px; }
    #wrap .blue-button span.l {
      width: 14px;
      background: url("../../img/base/button-left.png") no-repeat; }
    #wrap .blue-button span.m {
      background: url("../../img/base/button-middle.png") repeat-x 0 0px;
      color: #FFF !important;
      text-indent: 4px;
      padding: 0 18px;
      padding-top: 9px;
      -webkit-font-smoothing: antialiased;
      letter-spacing: 1px;
      line-height: 20px;
      font-weight: bold; }
    #wrap .blue-button span.r {
      width: 14px;
      background: url("../../img/base/button-right.png") no-repeat; }

@media only screen and (max-width: 480px) {
  .center-content-for-small {
    text-align: center; } }
